<h1>Add a Complaint</h1>

<p>Return to <a href="/viewComplaints">viewing the complaints</a>. </p>

<h2>Add new complaint values:</h2>

<% if @submitted && @all_ok %>
    <p>Complaint Added.</p>
<% else %>
    <% if @submitted && @all_ok %> <!-- if validation passed: -->
        <p>User Added.</p>
    <% else %>
        <% if @submitted && !@all_ok %> <!-- if there was validation errors: -->
            <p style="color:red">There were errors in your form submission, please correct them below.</p>
        <% end %>

        <form action="/addComplaint" method="post">
            <% if @submitted && !@journey_id_ok %>
                <p style="color:red">Please enter a journey ID</p>
            <% end %>
            <p>Journey ID:
                <input type="text" name="journey_id" value="<%=h @journey_id if @submitted %>"/>
            </p>

            <% if @submitted && !@user_id_ok %>
               <p style="color:red">Please enter a user ID</p>
           <% end %>
            <p>User ID:
                <input type="text" name="user_id" value="<%=h @user_id if @submitted %>"/>
            </p>

            <% if @submitted && !@complaint_ok %>
                <p style="color:red">Please enter a valid complaint</p>
            <% end %>
            <p>Complaint:
                <input type="text" name="complaint" value="<%=h @complaint if @submitted %>"/>
            </p>

            <input type="submit" value="Submit" />
        </form>
    <% end %>
<% end %>
