<h1>Add some feedback</h1>

<p>Return to <a href="/settings">viewing the feedback</a>. </p>

<h2>Add new feedback values:</h2>

<% if @submitted && @all_ok %>
<p>Feedback Added.</p>
<% else %>
<% if @submitted && @all_ok %>
<!-- if validation passed: -->
<p>User Added.</p>
<% else %>
<% if @submitted && !@all_ok %>
<!-- if there was validation errors: -->
<p style="color:red">There were errors in your form submission, please correct them below.</p>
<% end %>
<div id="add">
    <form action="/addFeedback" method="post" id="form">
        <% if @submitted && !@journey_id_ok %>
        <p style="color:red">Please enter a journey ID</p>
        <% end %>
        <label class="input_label">Journey ID:
            <input type="text" name="journey_id" class="inputbox" value="<%=h @journey_id if @submitted %>" />
        </label>

        <% if @submitted && !@user_id_ok %>
        <p style="color:red">Please enter a user ID</p>
        <% end %>
        <label class="input_label">User ID:
            <input type="text" name="user_id" class="inputbox" value="<%=h @user_id if @submitted %>" />
        </label>
        <% if @submitted && !@feedback_ok %>
        <p style="color:red">Please enter a valid feedback</p>
        <% end %>
        <div class="textareaAlign">
            <label class="input_label">Feedback:
                <textarea class="textArea" name="feedback"><%=h @feedback%></textarea>
            </label>
        </div>

        <% if @submitted && !@rating_ok %>
        <p style="color:red">Please enter a valid rating</p>
        <% end %>
        <label class="input_label" style="padding-top: 20px">Rating:
            <input type="text" name="rating" class="inputbox" value="<%=h @rating%>" />
        </label>

        <input type="submit" class="submitButton" value="Submit" />
    </form>
</div>
<% end %>
<% end %>
