<% if @all_ok %>
<div class="generalRatingText"><span class="ratingText">Thank you for your feedback.</span></div>
<% else %>
<form id="addReviewForm">
    <div class="generalRatingText">
        <span class="ratingText">Please give us general feedback on our service!</span>
    </div>
    <div class="generalFeedBackText">
        <input type="text" class="generalFeedBack" name="newReview" value="<%=h params[:genreralFeedBack] %>" placeholder="Give us general feedback on our service!">
    </div>
    <p style="display:inline; font-weight:200; letter-spacing:2px;"> RATING: </p>
    <input type="submit" id="rate1" class="fa fa-star generalRate" name="generalRating" value="1">
    <input type="submit" id="rate2" class="fa fa-star generalRate" name="generalRating" value="2">
    <input type="submit" id="rate3" class="fa fa-star generalRate" name="generalRating" value="3">
    <input type="submit" id="rate4" class="fa fa-star generalRate" name="generalRating" value="4">
    <input type="submit" id="rate5" class="fa fa-star generalRate" name="generalRating" value="5">
</form>
<% end %>

<script>
    $("#addReviewForm").submit(function(event) {
        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var term = []
        var $form = $(this);
        term[1] = $form.find("input[name='newReview']").val();
        term[2] = $form.find("input[type=submit]:focus").val();
        if (term[1] == undefined || term[1] == "") {
            console.log("i am running")
            $(".ratingText").empty().css("color", "red").append("Please enter feedback");
        } else {
            // Send the data using post
            var posting = $.post("addReview", {
                newReview: term[1],
                generalRating: term[2],
            });
            posting.done(function(data) {
                var content = $(data);
                $("#addReviewForm").empty().append(content);
            });
        }
    });

</script>
<script src="js/jquery.min.js"></script>
