<h1>Add a Taxi</h1>

<p>Return to <a href="/settings">viewing the taxis</a>. </p>

<h2>Add new taxi values:</h2>

<% if @submitted && @all_ok %>
    <p>Taxi Added.</p>
<% else %>

    <% if @submitted && !@all_ok %>
        <p style="color:red">There were errors in your form submission, please correct them below.</p>
    <% end %>

    <form action="/addTaxi" method="post">
        <% if @submitted && !@regNum_ok %>
            <p style="color:red">Please enter a valid reg number</p>
        <% end %>
        <% if @submitted && !@regNum_unique %>
            <p style="color:red">That reg number is already taken</p>
        <% end %>
        <p>Reg Number:
            <input type="text" name="regNum" value="<%=h @regNum if @submitted %>"/>
        </p>

        <% if @submitted && !@contact_ok %>
            <p style="color:red">Please enter a valid contact number</p>
        <% end %>
        <% if @submitted && !@contact_unique %>
            <p style="color:red">That contact number is already taken</p>
        <% end %>
        <p>Contact Number:
            <input type="text" name="contact" value="<%=h @contact if @submitted %>"/>
        </p>

        <% if @submitted && !@taxiType_ok %>
            <p style="color:red">Please enter a valid taxi type (S, M or L)</p>
        <% end %>
        <p>Taxi Type:
            <input type="text" name="taxiType" value="<%=h @taxiType if @submitted %>"/>
        </p>

        <% if @submitted && !@city_ok %>
            <p style="color:red">Please enter a valid cirty (SHEFFIELD or MANCHESTER)</p>
        <% end %>
        <p>City:
            <input type="text" name="city" value="<%=h @city if @submitted %>"/>
        </p>

        <input type="submit" value="Submit" />
    </form>

<% end %>
