<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
	<title>Add a Taxi</title>
</head>
<body>
<h1>Add a Taxi</h1>

<% if @submitted && @all_ok %>
	<p>Taxi Added.</p>
<% else %>

	<% if @submitted && !@all_ok %>
		<p style="color:red">There were errors in your form submission, please correct them below.</p>
	<% end %>

	<form method="post" action="add">
		<!-- Error Validation -->
		<% if @submitted && !@regNum_ok %>
		  	<p style="color:red">Please enter a valid reg number</p>
		<% end %>

		<% if @submitted && !@contact_ok %>
		  	<p style="color:red">Please enter a valid contact number</p>
		<% end %>

		<% if @submitted && !@taxiType_ok %>
		  	<p style="color:red">Please enter a valid taxi type (S, M or L)</p>
		<% end %>


		<p>Reg Number:
		  	<input type="text" name="regNum" value="<%=h @regNum if @submitted %>"/>
		</p>

		<p>Contact Number:
		  	<input type="text" name="contact" value="<%=h @contact if @submitted %>"/>
		</p>

		<p>Taxi Type:
		  	<input type="text" name="taxiType" value="<%=h @taxiType if @submitted %>"/>
		</p>

		<input type="submit" value="Submit" />
	</form>

<% end %>

</body>
</html>
