<!-- Sidebar -->
<div id = "sidebar-wrapper">
  <a href = "#" id = "menu-toggle"><img src = "img/right_arrow.png" id = "nav_arrow" alt = "Nav arrow" width = "35"></a>
  <ul class = "sidebar-nav">
    <li><a href = "/index"><img src = "img/home.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Home</span></a></li>
    <li><a href = "#"><img src = "img/stats.png"class = "dashboard-icons" alt = "Statistics"><span class = "nav-info"> Stats</span></a></li>
    <li><a href = "#"><img src = "img/twitter.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Twitter</span></a></li>
    <li><a href = "#"><img src = "img/settings.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Settings</span></a></li>
  </ul>
</div>