<!-- Sidebar -->
<div id = "sidebar-wrapper">
  <a href = "#" id = "menu-toggle"><img src = "img/right_arrow.png" id = "nav_arrow" alt = "Nav arrow" width = "35"></a>
  <ul class = "sidebar-nav">
    <li><a href = "/index"><img src = "img/home.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Home</span></a></li>
    <li><a href = "/dashboard"><img src = "img/dashboard.png" class = "dashboard-icons" alt = "Dashboard"><span class = "nav-info"> Dashboard</span></a></li>
    <li><a href = "/analytics"><img src = "img/stats.png"class = "dashboard-icons" alt = "Statistics"><span class = "nav-info"> Analytics</span></a></li>
    <li><a href = "/marketing"><img src = "img/twitter.png" class = "dashboard-icons" alt = "marketing"><span class = "nav-info"> Twitter</span></a></li>
    <li><a href = "/settings"><img src = "img/settings.png" class = "dashboard-icons" alt = "settings"><span class = "nav-info"> Settings</span></a></li>
    <li><a href = "/logout"><img src = "img/sign-out.svg" class = "dashboard-icons-logout" alt = "logout"><span class = "nav-info"> Logout</span></a></li>
  </ul>
</div>
