<!-- Sidebar -->
<div id = "sidebar-wrapper">
  <a href = "#" class = "btn btn-success" id = "menu-toggle">Menu</a>
  <ul class = "sidebar-nav">
    <li><a href = "#">1<span class = "nav-info"> Menu 1</span></a></li>
    <li><a href = "#">2<span class = "nav-info"> Menu 2</span></a></li>
    <li><a href = "#">3<span class = "nav-info"> Menu 3</span></a></li>
    <li><a href = "#">4<span class = "nav-info"> Menu 4</span></a></li>
  </ul>
</div>