<!-- Sidebar -->
<div id = "sidebar-wrapper">
  <a href = "#" id = "menu-toggle"><img src = "img/right_arrow.png" id = "nav_arrow" alt = "Nav arrow" width = "35"></a>
  <ul class = "sidebar-nav">
    <li><a href = "#"><img src = "img/home.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Menu 1</span></a></li>
    <li><a href = "#"><img src = "img/stats.png"class = "dashboard-icons" alt = "Statistics"><span class = "nav-info"> Menu 2</span></a></li>
    <li><a href = "#"><img src = "img/twitter.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Menu 3</span></a></li>
    <li><a href = "#"><img src = "img/settings.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Menu 4</span></a></li>
  </ul>
</div>