<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/admin_nav.css">
  <link rel="stylesheet" type="text/css" href="css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery.min.js"></script>
  
</head>
<body>
  <div id = "wrapper">
    <%= erb :admin_nav %>
    
    <div id = "page-content-wrapper">
      <nav>
        <h1 id = "alta">Alta</h1>
      </nav>
      <div id = "requests">
        <div id = "incoming_tweets">
          <h2>Incoming tweets</h2>
          <div class = "displaytweets">
            <table>
                <% unless @tweets.nil? %>
                    <% @tweets.reverse_each do |tweet| %>
                              <tr>
                                <td class = "tweets">
                                  <div class = "tweet_actions">
                                    <img src = "img/tweetarrow.png" class= "check" alt = "proceed tweet" width = "50">
                                    <img src = "img/cross.png" class = "delete" alt = "delete tweet" width = "50">
                                  </div>
                                  <div class = "reply">
                                    <form method="post" action = "replyToTweet"> 
                                      Reply to Tweet: <input type="text" name="reply" value="<%=h params[:reply] %>"/>
                                      <input type="submit" name="button" value="reply" />
                                    </form>
                                  </div>
                                  <%= tweet.html %>
                                </td>
                              </tr>
                    <% end %>
                <% end %>
              </table>
          </div>
        </div>
        <div id = "inprogress_tweets">
          <h2>Inprogress tweets</h2>
          <div class  = "displaytweets">
            <table>
              <tr>
                <td class = "inprogress_table">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('.check').click(function() {
          $(".inprogress_table").append($(this).parent().parent().parent());
          $($(this).parent().parent()).toggleClass("displayreply");
      });
      $('.delete').click(function() {
          $(this).parent().parent().parent().remove();
      });
    </script>
    <script src="js/admin_nav.js"></script>
  </div>
</body>
</html>