<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/admin_nav.css">
  <link rel="stylesheet" type="text/css" href="css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="../css/form.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
  <div id = "wrapper">
    <%= erb :admin_nav %>

    <div id = "page-content-wrapper">
      <nav>
        <h1 id = "alta">Alta</h1>
      </nav>
      <div id = "requests">
        <div id = "incoming_tweets">
          <%= erb :tweetActions %>
        </div>
        <div id = "add_journey_dashboard">
          <h2>Add a Journey</h2>
          <%= erb :addJourneyDashboard %>
        </div>
        <div id = "taxis">
          <%= erb :displayTaxis %>
        </div>
      </div>
    </div>
  </div>
  <script src="js/admin_nav.js"></script>
</body>
</html>
