<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/admin_nav.css">
  <link rel="stylesheet" type="text/css" href="css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/jquery.min.js"></script>
  
</head>
<body>
  <div id = "wrapper">
    <%= erb :admin_nav %>
    
    <div id = "page-content-wrapper">
      <nav>
        <h1 id = "alta">Alta</h1>
        <input type="submit" name="button" value="Fetch tweets" id = "fetch_tweets">
      </nav>
      <div id = "requests">
        <div id = "incoming_tweets"> </div>
      </div>
    </div>
    <script>
      $("#incoming_tweets").load("/fetch_tweets");
      $("#fetch_tweets").click(function(){
        $("#incoming_tweets").load("/fetch_tweets");
      });
      /*$(fetchTweets);
      function fetchTweets(){
        $("#incoming_tweets").load("/fetch_tweets");
        setTimeout(fetchTweets, 60*1000);
      }*/
    </script>
    <script src="js/admin_nav.js"></script>
  </div>
</body>
</html>
