<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/admin_nav.css">
    <link rel="stylesheet" type="text/css" href="../css/settings.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div id = "wrapper">
       <!-- Sidebar -->
        <div id = "sidebar-wrapper">
          <a href = "#" id = "menu-toggle"><img src = "../img/right_arrow.png" id = "nav_arrow" alt = "Nav arrow" width = "35"></a>
          <ul class = "sidebar-nav">
            <li><a href = "/index"><img src = "../img/home.png" class = "dashboard-icons" alt = "Home"><span class = "nav-info"> Home</span></a></li>
            <li><a href = "/dashboard"><img src = "../img/dashboard.png" class = "dashboard-icons" alt = "Dashboard"><span class = "nav-info"> Dashboard</span></a></li>
            <li><a href = "#"><img src = "../img/stats.png"class = "dashboard-icons" alt = "Statistics"><span class = "nav-info"> Analytics</span></a></li>
            <li><a href = "/marketing"><img src = "../img/twitter.png" class = "dashboard-icons" alt = "marketing"><span class = "nav-info"> Twitter</span></a></li>
            <li><a href = "/settings"><img src = "../img/settings.png" class = "dashboard-icons" alt = "settings"><span class = "nav-info"> Settings</span></a></li>
            <li><a href = "/logout"><img src = "../img/sign-out.svg" class = "dashboard-icons-logout" alt = "logout"><span class = "nav-info"> Logout</span></a></li>
          </ul>
        </div>

        <div id = "page-content-wrapper">
            <%= erb :editUser %>
        </div>
    </div>

    <script src="../js/admin_nav.js"></script>
</body>
</html>
