<!DOCTYPE html>
<html>

  <head>
    <title>500 Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

  <body>
    <h1 style = "font-size:4vw;position:absolute; text-align: center; top: 150px; left: 10vw;">Oops some Error has occured.<br> Ensure you are connected to the internet and try again</h1>
  </body>
</html>
