
<!DOCTYPE html>
<html>

  <head>
    <title>Footer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/user-footer.css" />
  </head>

<footer>
    <div class="footer-row">
      <div class="footer-column column1">
          <p>Contact Us</p>
          <p><a href>Twitter</a></p>
          <p class="email">Email</p>
        </div>
      <div class="footer-column column2" >
          <p>Don't wait and Sign up now with </p>
          <div class="footer-tw">
            <p><a href class="tw-link">Twitter</a>
             </p>
            </div>
        </div>
      <div class="footer-column column3">
          <p><a href>Privacy</a></p>
          <p><a href>Terms and conditions</a></p>
        </div>
    </div>

    <div class="vl"></div>

    <div class="footer-row2">
      <img class="row2-img" src="alta.png"> 
      <div class="row2-cont"> © 2019 alta. all rights reserved
      </div> 
      </div>
  
  </footer>
</html>
