<footer>
    <div class="ft-row" style="font-weight: 200; padding-bottom: 25px;">
        <div class="ft-vl"></div>

        <div class="ft-column ft-column1">
            <div class="logout">
                <p><a href="/logout">Logout</a> | <a href="/userOrders">My Account</a></p>
            </div>
        </div>

        <div class="ft-column ft-column2">
            <p style="color: white; margin-bottom:0; font-size: 12px;">Follow Us</p>
            <a href="https://twitter.com/ise19team29"><img class="ft_contact" src="img/twitter.png"></a>
        </div>

        <div class="ft-column ft-column3">
            <div class="ft-row2-cont"> © 2019 alta. all rights reserved
            </div>
        </div>
    </div>
</footer>
