<nav class="navbar-fixed-top nav-container-scrolled" id="navigation">        

<div class="nav-column logo">
  <div class="nav-cont">
    <a href = "/index">
      <img class="nav-logo" src="img/alta.png">
    <div class="nav-name">
      alta
      </div>
    </a>
  </div>
</div>        

<div class="nav-column nav-column2">
  <div class="nav-cont">
      <ul class="nav-center">
        
      
        <li class="nav-inline">
          <a href="#section1" class="nav-buttons">about</a>
        </li>

        <li class="nav-inline">
          <a href= "#section2" class="nav-buttons">how to?</a>
        </li>

        <li class="nav-inline">
          <a href= "#section3" class="nav-buttons">details</a>
        </li>

        <li class="nav-inline">
          <a href= "#section4" class="nav-buttons">services</a>
        </li>

        <li class="nav-inline">
          <a href= "#section5" class="nav-buttons">reviews</a>
        </li>

        <li class="nav-inline">
          <a href= "#section6" class="nav-buttons">contact</a>
        </li>

      </ul>
  </div>
</div>

<div class="nav-column">
  <div class="nav-cont">
    <%if !session[:loggedin] %>
      <div class=" nav-inline2 nav-signin">
          <a href="/login">Log In</a>
      </div>
    <% elsif !session[:admin] %>
     <div class=" nav-inline2 nav-signin">
      <a href="/userAccount">My Account</a>
      </div>
    <% else %>
     <div class=" nav-inline2 nav-signin">
      <a href="/dashboard">Admin Dashboard</a>
      </div>
    <% end %>
  </div>
</div>
</nav>



