<!DOCTYPE html>
<html>

  <head>
    <title>ALTA Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script async src="js/content.js"></script>
    <script async src="js/home_header.js"></script>
    <link rel="stylesheet" href="css/home_header.css" />
    <link rel="stylesheet" href="css/home_content.css" />
    <link rel="stylesheet" href="css/home_footer.css" />
  </head>
    

  <body id="bg">  
  <!--navigation bar-->
    <header class="stick">
        <%= erb :home_header %>
    </header> 
     
    <div id = "wrapper">
      <div id = "page-content-wrapper">

<!--Welcoming Sign up-->
<div class="welcome-row" id="section1">
        <div id="fade-in">
            <!--can be deleted-->
            <div id="welcoming-box">
                <div class="center">
                    <div class="head-box1">RIDE WITH US
                    </div>
                </div>
                <div class="center">
                  <%if @loggedin %>
                  <div class="head-box2">Tweet to us<a class="twitter" href="https://twitter.com/ise19team29">@ise19team29</a> to get a taxi
                    </div>
                  <% else %>
                   <div class="head-box2">Sign up now via <a class="twitter" href="/login">Twitter</a> for the Greatest DEALS and FREE RIDES
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
        

<!--Content 1: About Us-->

    <div class="container info1-container" id="section2">
        <div class="bd-row1 info1-row1">
            <div class="bd-column1">
                <div class="info1-box">
                    <div class="info1-title">About Us</div>
                    <div class="info1-vl"></div>
                </div>
            </div>
            <div class="bd-column2">
                <div class="info1-content">
                    We are Alta. We are here to help you get a taxi through Twitter, so you don't need to bother with multiple applications and credit card information.
                </div>
            </div>

        </div>
    </div>


<!--Content 2: How to use our service-->

    <div class="info2-container container" id="section3">
        <div class="bd-row1">
            <div class="info2-column">
                <div class="info2-box">
                    <div class="info2-title">How to Use our Services</div>
                        <div class="info2-content">
                            <ol>
                                <li>Login to your Twitter, tweet to us by using @ise19team29 with your location, preferred taxi type (S, M or L) and your end location.</li>
                                <li>Our employee will reply or direct message to you for more information if it is necessary.</li>
                                <li>Get in the car and relax till you reach your desired destination. Pay the taxi driver with cash or credit card when you reach the destination.</li>
                            </ol> 
                        </div>
                    </div>
            </div>
            <div class="info2-column">
                <img class="info2-img" src="img/info1.jpg">
            </div>
        </div>
    </div>


<!--Content 3: How it works-->

    <div class="info3-container container" id="section4">
        <div class="bd-row1">
            <div class="info3-column">
                <img class="info3-img" src="img/info3.jpeg">
            </div>

            <div class="info3-column info3-column2">
                <div class="info3-box">
                    <div class="info3-title">How Does it Work</div>
                        <div class="info3-content">
                          The employee sees your tweet and he/she will assign the nearest taxi to you. If you do not have location services turned on in Twitter, he/she will reply or direct message to you to inquire about your location.
                          After that he/she will tell you the taxi’s information (plate and contact number). When the taxi driver arrives, the driver will ask for your Twitter name for safety and confirmation reason.
                          Pay the driver by either cash, NFC or credit/debit card when you have reached the destination.  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--Content 4: Types of taxi-->

    <div class="slideshow-container" id="section5" style="background-color:#FFFFFF; height: 700px;">
        <div class="info4-indicators">
            <span class="info4-indict" onclick="currentSlide(1)"><b>Type S</b></span> 
            <span class="info4-indict" onclick="currentSlide(2)"><b>Type M</b></span>
            <span class="info4-indict" onclick="currentSlide(3)"><b>Type L</b></span>
        <!-- <span class="info4-indict" onclick="currentSlide(4)">Type 4</span> -->
        </div>
        <div class="mySlides">
            <div class="info4-container container">
                <div class="bd-row1">
                    <div class="info4-column">
                        <div class="info4-box">
                            <div class="info4-title">Types of Taxis</div>
                            <div class="info4-content1">Small (S) Taxi</div>
                            <div class="info4-content2">
                            This is a 1-4 seated taxi.<br>
                            The cheapest taxi type you find here.<br>
                            This a great option for a low budget rides.<br>
                            The price varies based on the distance and waiting type.
                            </div>
                        </div>
                    </div>
                    <div class="info4-column">
                        <img class="info4-img" src="img/info3.jpeg">
                    </div>
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="info4-container container">
                <div class="bd-row1">
                    <div class="info4-column">
                        <div class="info4-box">
                            <div class="info4-title">Types of Taxis</div>
                            <div class="info4-content1">Medium (M) Taxi</div>
                            <div class="info4-content2">
                            This is a 1-6 seated taxi.<br>
                            This is a great option for groups.<br>
                            This is a great option for average budget rides.<br>
                            The price varies based on the distance and waiting type.
                            </div>
                        </div>
                    </div>
                    <div class="info4-column">
                        <img class="info4-img" src="img/info3.jpeg">
                    </div>
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="info4-container container">
                <div class="bd-row1">
                    <div class="info4-column">
                        <div class="info4-box">
                            <div class="info4-title">Types of Taxis</div>
                            <div class="info4-content1">Luxury (L) Taxi</div>
                            <div class="info4-content2">
                            This is a 1-4 seated taxi.<br>
                            This is the most expensive taxi type.<br>
                            Rides with the most luxurious car brands.<br>
                            The price varies based on the distance and waiting type.
                            </div>
                        </div>
                    </div>
                    <div class="info4-column">
                        <img class="info4-img" src="img/info3.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Content 5: Customer Reviews-->

    <div class="info5-container" id="section6">        
        <p class="info5-title">
            What do People Say
        </p>

        <div class="info5-column">
            <div class="info5-box">
                <div class="info5-cont">
                <p class="info5-name">Michael
                    <span class="fa fa-star info5-checked"></span>
                    <span class="fa fa-star info5-checked"></span>
                    <span class="fa fa-star info5-checked"></span>
                    <span class="fa fa-star info5-checked"></span>
                    <span class="fa fa-star info5-checked"></span>
                </p>
                <p class="info5-date">28/02/2019</p>
                <p class="info5-reviews">
                    This is one of the greatest taxi services that I have ever used. Would higly recommend the L type taxi. It is the best when compared to other services.
                </p>
                </div>
            </div>
        </div>        

        <div class="info5-column">
            <div class="info5-box">
                <div class="info5-cont">
                <p class="info5-name">Kassandra
                        <span class="fa fa-star info5-checked"></span>
                        <span class="fa fa-star info5-checked"></span>
                        <span class="fa fa-star info5-checked"></span>
                        <span class="fa fa-star info5-checked"></span>
                        <span class="fa fa-star"></span>
                        </p>
                    <p class="info5-date">04/03/2019</p>

                    <p class="info5-reviews">
                            This was a lifesaver to me, there was one time I was in a rush, just tweeted to ALTA to request a taxi, and it took only about 5 minutes.
                        </p>
                </div>
            </div>
        </div>

        <div class="info5-column">
            <div class="info5-box">
                <div class="info5-cont">
                <p class="info5-name">Simonas
                        <span class="fa fa-star info5-checked"></span>
                        <span class="fa fa-star info5-checked"></span>
                        <span class="fa fa-star info5-checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        </p>
                    <p class="info5-date">11/03/2019</p>

                    <p class="info5-reviews">
                        There's not much trouble using these services. Just tweeted to ALTA and the employees are fast to respond.
                        Although, the cars are not exceptional.
                        </p>
                </div>
            </div>
        </div>
    </div>
    

<!-- Content 6: Contact us and banner -->
    <div class="info6-container" id="section7">        

        <div class="info6-column">
            <div class="info6-box">
                <div class="info6-cont">
                </div>
            </div>
        </div>        

        <div class="info6-maincolumn">
            <div class="info6-box">
                <div class="info6-cont">
                    <p class="info6-title">Get in Touch</p>
                    <p class="info6-content1">
                        For any questions or latest news, find us on Twitter, <a href = "https://twitter.com/ise19team29">@ise19team29</a>.
                        </p>
                    <p class="info6-content2">
                        Don't Forget to sign up to our services to get the newest deals and offers!
                        </p>
                </div>
            </div>
        </div>

        <div class="info6-column">
            <div class="info6-box">
                <div class="info6-cont">
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <%= erb :home_footer %>
  </body>
  
</html>
