<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>

<p>
	You logged into the member's area at
    <%= session[:login_time].strftime("%d/%m/%Y at %I:%M%p") %>
</p>

<p><a href="/logout">Logout</a></p>

</body>
</html>
