<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<h1>Login</h1>


<% unless @error.nil? %>
<p><strong><%= @error %></strong></p> 
<% end %>

<p>Please log in.</p>

<form action="/login" method="post">
    <p>Username: <input type="username" name = "username"/></p>	
    <p>Password: <input type="password" name = "password"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>

</body>
</html>
