<!DOCTYPE html>
<html>

  <head>
    <title>404 Not Found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

  <body>
    <h1 style = "font-size:4vw;position:absolute; text-align: center; top: 150px; left: 10vw;">Oops you wandered off to a strange place. <br> Head <span><a href = "/index" style = "color:#5f5a50;">Home</a></span></h1>
  </body>
</html>
