<!DOCTYPE html>
<html>

  <head>
    <title>ALTA Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script async src="js/user_orders.js"></script>
    <link rel="stylesheet" href="css/user_header.css" />
    <link rel="stylesheet" href="css/user_footer.css" />
    <link rel="stylesheet" href="css/user_orders.css" />
  </head>

  <body id="ordersBG">
    <!--navigation bar-->
      <header class="stick">
          <%= erb :user_header %>
      </header> 
    
    <!--Small navigators-->
    
    <!--Table title and table types-->
      <div class="container table-title">
        <%=h session[:name] %>
        <i class='fas fa-taxi' style='font-size:40px; color:#FEDE3B'></i>
        <p class="table-titleName inline" style='font-size:40px'> My Account &nbsp</p>
        <p class="table-titleView inline" style='font-size:17px'> View As: </p>
        <span onclick="myView1()" class="title-button type1-button inline">Table</span>
        <span onclick="myView2()" class="title-button type1-button inline">Databse</span>
      </div>


    <!--Filtable Search bar-->
      <div class="search-bar container">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title=" " class="inline">

        <!--Sorting dropdown list-->
        <div id ="sorting" class="sortDropdown">
          <div class="dropdown-title inline"> Sort by :&nbsp</div>
          <button onclick="myFunction()" id="sortButtonText" class="dropbtn inline" style='font-size:15px'>
            <i class='fas fa-caret-down' style='font-size:17px'></i>
          </button>
          <div style="height:100px;">
            <a href="/userOrders">ORDER</a>
          </div>
      </div>
      </div>


    <div class="separation" style="height:50px;"></div>

  <!--footer-->
          <%= erb :user_footer %>

  </body>
