<h2>Current Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Twitter Handle</th>
        <th>Sign up date</th>
        <th>User type</th>
        <th>Free rides remaining</th>
    </tr>
</table>
