<!DOCTYPE html>
<html>

  <head>
    <title>ALTA Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script async src="js/user_orders.js"></script>
    <link rel="stylesheet" href="css/user_header.css" />
    <link rel="stylesheet" href="css/user_footer.css" />
    <link rel="stylesheet" href="css/user_orders.css" />
  </head>

  <body id="ordersBG">
    <!--navigation bar-->
      <header class="stick">
          <%= erb :user_header %>
      </header> 
    
    <!--Deals Display-->
      <div class="deals-cont">
        <div class="deals-display"> 
          Hi <%=h session[:name] %> <br><br>
          You are 
          <span style="color:yellow;font-size: 35px"> 2 </span>
          rides <br> away from your 
          <span style="font-weight:600;">free rides!</span>
        </div>
      </div>
    
    <div class="separation"></div>

    <!--Table title and table types-->
    <!--
      <div class="container table-title">
        <%=h session[:name] %>
        <i class='fas fa-taxi' style='font-size:40px; color:#FEDE3B'></i>
        <p class="table-titleName inline" style='font-size:40px'> My Rides &nbsp</p>
        <p class="table-titleView inline" style='font-size:17px'> View As: </p>
        <span onclick="myView1()" class="title-button type1-button inline">Table</span>
        <span onclick="myView2()" class="title-button type1-button inline">Databse</span>
      </div>
      -->


    <!-- Tbale BAR-->
      <div class="ordertable-row container orderborder-top">
      <!--Table type-->
        <div class="ordertable-column tableTopPad">
          <p class="table-titleView inline" style='font-size:15px'> View As: </p>
          <span onclick="myView1()" class="title-button type1-button inline">Table</span>
          <span onclick="myView2()" class="title-button type1-button inline">Databse</span>
        </div>

        <!-- Filtable Search bar -->
        <div class="ordertable-column2 tablecenter tableTopPad">
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title=" " class="inline" style="width:100%;">
        </div>
        
        <!--Sorting dropdown list-->
      
        <div id ="sorting" class="ordertable-column3 sortDropdown center">
          <div class="dropdown-title inline"> Sort by :&nbsp</div>
          <button onclick="myFunction()" id="sortButtonText" class="dropbtn inline" style='font-size:15px'>
            <i class='fas fa-caret-down' style='font-size:17px'></i>
          </button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Newest</a>
            <a href="#about">Oldest</a>
            <a href="#contact">Highest Rating</a>
            <a href="#contact">Lowest Rating</a>
          </div>
      </div>

    </div>

    <!--Ride indicators-->
    <div class="container ride-types orderborder-bottom">
      <a href="#home" >All</a>
      <a href="#about">Paid</a>
      <a href="#contact">Free</a>
      <a href="#contact">Cancelled</a>
    </div>



    <!--Rides History-->

    <!--Rides History Style 1: Table View-->
    <div id="view1" class="tablestyle1">
      <table id="userTable"  class="container container2 userTable1 orderborder-top">

        <tr class="userTable1">
          <td class="col-reg-num">
            <div class="field1-regNum inline"></div>
            <div id="regNum" class="style1-regNum inline">AK12347890
            </div>
          </td>
          <td></td>
          <td></td>
          <td class="col-rate">
            <div class="field2-rate inline"></div>
            <div id="ratings" class="inline">
              <span onclick="myRating1()" id="rate1" class="fa fa-star"></span>
              <span onclick="myRating2()" id="rate2" class="fa fa-star"></span>
              <span onclick="myRating3()" id="rate3" class="fa fa-star"></span>
              <span onclick="myRating4()" id="rate4" class="fa fa-star"></span>
              <span onclick="myRating5()" id="rate5" class="fa fa-star "></span>
            </div>
          </td>
        </tr>
      </table>
      
      <table id="userTable"  class="container container2 userTable2">
      <tr class="userTable1">
          <td class="col-date col-width">
            <div class="field3-date inline"></div>
            <div id="date" class="inline tableCell firstCol" style=" margin-bottom:10px;"> 18/01/2019 <div>
          </td>
          <td class="col-time col-width2">
            <div class="field4-time inline tableCell"></div>
            <div id="time" class="inline tableCell" style=" margin-bottom:10px;"> 09:22 PM </div>
          </td>
          <td></td><td></td>
        </tr>

        <tr>
          <td class="col-startLoc userTable2">
            <div class="field5-startLoc inline" style="margin-top: 20px; padding-left:10px;"></div>
          </td>
            <td class="col-startLoc userTable2">
            <div class="field6-endLoc inline" style="margin-top: 20px"></div>
          </td>
          <td class="col-startLoc userTable2">
            <div class="field7-taxi-type inline" style="margin-top: 20px;></div>
          </td>
          <td class="userTable2"></td>
        </tr>  

        <tr>

          <td class="col-startLoc userTable2">
            <div id="startLoc" class="inline firstCol" style="margin-bottom: 50px;">City Center</div>
          </td>
          <td class="col-endLoc userTable2">
            <div id="endLoc" class="inline" style="margin-bottom: 50px;">Tesco</div>
          </td>
          <td class="taxi-type userTable2">
            <div id="taxiType" class="inline" style="margin-bottom: 50px;">Luxury</div>
          </td>
          <td class="userTable2"></td>
        </tr>   
        <tr>
        <td class="userTable2 col-free">
          <input type="text" onkeyup="myFunction()" placeholder="Tell us what do you think about our services !" title=" " class="inline order-comment">
        </td>
      </tr>    
        <tr>
          <td class="userTable2 col-free">
            <i id ="freeNot" class="field8-icon far fa-check-square inline" style='font-size:15px '></i>
            <div class="field8-free inline" style="margin-top: 50px; margin-bottom:20px;">Free Rides</div>
            <div class="inline" style="margin-top: 20px;">&nbsp &nbsp|</div>
          </td>
          <td class="userTable2 col-cancelled">
            <i id ="cancelledNot" class="field9-icon far fa-square inline" style='font-size:15px; margin-left:0px'></i>
            <div class="field9-cancelled inline" style="margin-top: 50px; margin-bottom:20px;">Cancelled</div>
          </td>
          <td class="userTable2">
            <a href="" id="convoLink" class="convo-link" style="margin-top:50px; margin-right:20px;">Conversation link
            </a>
          </td>
        </tr> 
                  
      </table>
    </div>






    <!--Rides History Style 2: Database View-->
    <table id="view2" class="js-sort-table container" id="demo1">
        <thead class="tableStyle2-head">
        <tr>
            <th class="js-sort-number databaseCell">Reference no.</th>
            <th class="js-sort-date databaseCell">Date</th>
            <th class="js-sort-date databaseCell">Time</th>
            <th class="databaseCell">Start Location</th>
            <th class="databaseCell">End Location</th>
            <th class="databaseCell">Type of Taxi</th>
            <th class="databaseCell">Free</th>
            <th class="databaseCell">Cancelled</th>
            <th class="js-sort-number databaseCell">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-reg-num databaseCell">123456</td>
            <td class="col-date databaseCell">11/12/2019</td>
            <td class="col-time databaseCell">09:20 PM</td>
            <td class="col-startLoc databaseCell">Diamond</td>
            <td class="col-endLoc databaseCell">Meadowhall</td>
            <td class="taxi-type databaseCell">Luxury</td>
            <td class="col-free databaseCell">No</td>
            <td class="col-cancelled databaseCell">No</td>
            <td class="col-rate databaseCell">1/5</td>
        </tr>
        <tr>
            <td class="col-reg-num databaseCell">235467</td>
            <td class="col-date databaseCell">01/18/2019</td>
            <td class="col-time databaseCell">09:22 PM</td>
            <td class="col-startLoc databaseCell">Allen Court</td>
            <td class="col-endLoc databaseCell">Broad Lane Court</td>
            <td class="taxi-type databaseCell">Luxury</td>
            <td class="col-free databaseCell">Yes</td>
            <td class="col-cancelled databaseCell">No</td>
            <td class="col-rate databaseCell">4/5</td>
        </tr>
        <tr>
            <td class="col-reg-num databaseCell">234789</td>
            <td class="col-date databaseCell">11/12/2018</td>
            <td class="col-time databaseCell">12:20 PM</td>
            <td class="col-startLoc databaseCell">City Center</td>
            <td class="col-endLoc databaseCell">Tesco</td>
            <td class="taxi-type databaseCell">Luxury</td>
            <td class="col-free databaseCell">No</td>
            <td class="col-cancelled databaseCell">Yes</td>
            <td class="col-rate databaseCell">5/5</td>
        </tr>
        <tr>
            <td class="col-reg-num databaseCell">234890</td>
            <td class="col-date databaseCell">12/05/2018</td>
            <td class="col-time databaseCell">12:20 AM</td>
            <td class="col-startLoc databaseCell">City Center</td>
            <td class="col-endLoc databaseCell">Sainsbury</td>
            <td class="taxi-type databaseCell">Luxury</td>
            <td class="col-free databaseCell">No</td>
            <td class="col-cancelled databaseCell">No</td>
            <td class="col-rate databaseCell">5/5</td>
        </tr>
        <tr>
            <td class="col-reg-num databaseCell">567123</td>
            <td class="col-date databaseCell">11/06/2018</td>
            <td class="col-time databaseCell">12:20 AM</td>
            <td class="col-startLoc databaseCell">City Center</td>
            <td class="col-endLoc databaseCell">Sainsbury</td>
            <td class="taxi-type databaseCell">Luxury</td>
            <td class="col-free databaseCell">No</td>
            <td class="col-cancelled databaseCell">No</td>
            <td class="col-rate databaseCell">5/5</td>
        </tr>
        <tr>
            <td class="col-reg-num databaseCell">890234</td>
            <td class="col-date databaseCell">11/05/2018</td>
            <td class="col-time databaseCell">12:20 AM</td>
            <td class="col-startLoc databaseCell">City Center</td>
            <td class="col-endLoc databaseCell">Sainsbury</td>
            <td class="taxi-type databaseCell">Luxury</td>
            <td class="col-free databaseCell">No</td>
            <td class="col-cancelled databaseCell">No</td>
            <td class="col-rate databaseCell">5/5</td>
        </tr>
        </tbody>
    </table>

    <div class="separation" style="height:50px;"></div>

  <!--footer-->
          <%= erb :user_footer %>

  </body>
