<div id="accSnav" class="accnavbar-top">        

<div class="nav-column logo" style="text-align: center;">
  <div class="nav-cont">
    <a href = "/index">
      <img class="nav-logo" src="img/alta.png">
    <div class="nav-name">
      alta
      </div>
    </a>
  </div>
</div>        

<div class="nav-column2 nav-column" id="RespHeader">
  <div class="nav-cont">
      <ul class="nav-center">
      
        <i class='fas fa-taxi nav-myrides inline' style='font-size:40px; color:#FEDE3B'></i>
        <div class="nav-myrides inline">&nbspmy rides</div>      
        
        <!--<li class="nav-inline nav-buttons">
          <a href="#section1" class="nav-buttons">how to?</a>
        </li>

        <li class="nav-inline">
          <a href= "#section2" class="nav-buttons">services</a>
        </li>

        <li class="nav-inline">
          <a href= "#section3" class="nav-buttons">deals</a>
        </li>

        <li class="nav-inline">
          <a href= "#section4" class="nav-buttons">reviews</a>
        </li>

        <li class="nav-inline">
          <a href= "#section5" class="nav-buttons">about</a>
        </li>

        <li class="nav-inline">
          <a href= "#section6" class="nav-buttons">contact</a>
        </li>-->

      </ul>
  </div>
</div>

<div class="nav-column">
  <div class="nav-cont">
    <%if !session[:loggedin] %>
      <div class=" nav-signin nav-inline2 ">
          <a href="/login">Log In</a>
      </div>
    <% elsif !session[:admin] %>
     <div class=" nav-inline2 nav-signin">
      <a href="/user_editAccount">EDIT ACCOUNT |</a>
      <a href="/logout"> <i class="fa fa-sign-out" style="font-size:13px; color:grey"></i></a>
      </div>
    <% else %>
     <div class=" nav-inline2 nav-signin" style="float: right; margin-right:20px; margin-left: 0;">
      <!--<a href="/dashboard" style="font-size:11px;">MY ORDERS | </a> -->

      <a href="/editAccount" style="font-size:11px; text-transform: uppcase">edit account | </a>
     <a href="/logout"> <i class="fa fa-sign-out" style="font-size:13px; color:grey"></i></a>
      </div>
    <% end %>
  </div>
</div>
<a href="javascript:void(0);" class="nav-Icon" onclick="myResponsiveHeader()">
  <div class="nav-respIcon"> &#9776; </div> </a>
</div>



