<div id="accSnav" class="accnavbar-top">        

<div class="nav-column logo" style="text-align: center;">
  <div class="nav-cont">
  </div>
</div>        

<div class="nav-column2 nav-column" id="RespHeader">
  <div class="nav-cont">
    <a href = "/index">
      <img class="nav-logo" src="img/alta.png">
      
    </a>
  </div>
</div>

<div class="nav-column">
  <div class="nav-cont">
    <%if !session[:loggedin] %>
      <div class=" nav-signin nav-inline2 ">
          <a href="/login">Log In</a>
      </div>
    <% elsif !session[:admin] %>
     <div class=" nav-inline2 nav-signin">
      <a href="/user_editAccount" class="editBut">DELETE ACCOUNT |</a>
      <a href="/logout"> <i class="fa fa-sign-out" style="font-size:13px; color:grey"></i></a>
      </div>
    <% else %>
     <div class=" nav-inline2 nav-signin" style="float: right; margin-right:20px; margin-left: 0;">
      <!--<a href="/dashboard" style="font-size:11px;">MY ORDERS | </a> -->

      <a href="/editAccount" style="font-size:11px; text-transform: uppcase">edit account | </a>
     <a href="/logout"> <i class="fa fa-sign-out" style="font-size:13px; color:grey"></i></a>
      </div>
    <% end %>
  </div>
</div>
<a href="javascript:void(0);" class="nav-Icon" onclick="myResponsiveHeader()">
  <div class="nav-respIcon"> &#9776; </div> </a>
</div>



