<div id="accSnav" class="accnavbar-top">        

<div class="navLeftColumn"></div>        

<div class="nav-column2 navColumn">
  <div class="navContent">
    <a href = "/index"> <img class="nav-logo" src="img/alta.png"> </a>
  </div>
</div>

<div class="navColumn">
  <div class="navContent">
    <%if !session[:loggedin] %>
      <div class=" nav-signin nav-inline2 ">
          <a href="/login">Log In</a>
      </div>
    <% elsif !session[:admin] %>
     <div class=" nav-inline2 nav-signin">
      <a href="/user_editAccount" class="editBut">EDIT ACCOUNT |</a>
      <a href="/logout"> <i class="fa fa-sign-out" style="font-size:13px; color:grey"></i></a>
      </div>
    <% else %>
    <!--Delete Account Button-->
     <div class=" nav-inline2 nav-signin">
      <a>
        <button class="editAccButton" onclick="document.getElementById('deleteAccBox').style.display='block'">EDIT ACCOUNT |</button>
          <div id="deleteAccBox" class="modal">
            <form class="delAccForm deleteAccAnimate" action="/deleteAccount">
              <span class="closeIcon" onclick="document.getElementById('deleteAccBox').style.display='none'">&times;</span>
              <div class="delAccContainer">
                <p class="delAccMessage">Are you sure?</p>
              </div>
              <div class="delAccButton">
                <input type="submit" name="deleteAcc" value="Yes I'm Sure, Delete My Account">
              </div>
            </form>
          </div>
      </a>
     <a href="/logout"> <i class="fa fa-sign-out" style="font-size:13px; color:grey; padding-top:10px;"></i></a>
      </div>
    <% end %>
  </div>
</div>
<a href="javascript:void(0);" class="nav-Icon" onclick="myResponsiveHeader()">
  <div class="nav-respIcon"> &#9776; </div> </a>
</div>
