
<footer>
<div class="ft-row">
  <div class="ft-column ft-column1">
      <p>Contact Us</p>
      <a href><img class="ft_contact" src="img/grey_twitter.png">
      </a>
    </div>
  <div class="ft-column ft-column2" >
      <p style="text-transform: uppercase;">Ride with us now</p>
      <div class="ft-tw">
        <p><a href class="ft-tw-link">Twitter</a>
         </p>
        </div>
    </div>
  <div class="ft-column ft-column3">
      <p><a href>Privacy</a></p>
      <p><a href>Terms and conditions</a></p>
    </div>
</div>

<div class="ft-vl"></div>

<div class="ft-row2">
  <img class="ft-row2-img" src="img/alta.png">
  <div class="ft-row2-cont"> © 2019 alta. all rights reserved
  </div>
  </div>
  <div class="logout"><p><a href = "/logout" >Logout</a> or go back <a href = "/index" >home</a></p></div>

</footer>
