<!DOCTYPE html>
<html>
<head>
  	<title>Welcome</title>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<p>Welcome to the welcome page!</p>

	<p>To access other pages please <a href="/login">login here</a>.</p>
	<p>Other pages here:</p>
	<ul style="list-style-type:disc;">
		<li><a href="/dashboard">dashboard</a></li>
	 	<li><a href="/index">index</a></li>
		<li><a href="/cont">cont</a></li>
	</ul> 

	<p><a href="/logout">Logout</a></p>

</body>
</html>
