#requests{
  display: flex;
  flex-direction: row;
}

.displaytweets{
  width: 400px;
  padding: 0 80px 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
}

.tweetcheck{
  position: absolute;
  top: 30%;
}

.tweets{
  display: flex;
  flex-direction: row;
  position: relative;
}

#page-content-wrapper .tweets .check{
  margin: 0;
  position: absolute;
  top: 0%;
  left:100%;
}

#page-content-wrapper .tweets .delete{
  margin: 0;
  position: absolute;
  top: 50px;
  left:100%;
}

#delete_icon{
  width: 50px;
}

.tweet_actions{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.reply{
  display: none;
}
.displayreply .reply{
  display: block;
}

.displayreply{
  display: flex;
  flex-direction: column;
}