body{
  height: 100vh;
}

#requests{
  display: flex;
  flex-direction: row;
}

.displaytweets{
  width: 400px;
  padding: 0 80px 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

.tweetcheck{
  position: absolute;
  top: 30%;
}

.tweets{
  display: flex;
  flex-direction: row;
  min-height: 200px;
  position: relative;
}

#page-content-wrapper .tweets .check, #page-content-wrapper .tweets .delete, #page-content-wrapper .tweets .destroy, #page-content-wrapper .tweets .moreinfo{
  margin: 0;
  position: absolute;
  width: 50px;
  outline:none;
  left:100%;
}

#page-content-wrapper .tweets .check{
  top: 0px;
}

#page-content-wrapper .tweets .delete{
  top: 50px;
}

.moreinfo{
  top: 100px;
}

#page-content-wrapper .tweets .destroy{
  top: 150px;
}

.tweet_actions{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.tweet_actions_icons{
  transform:scale(1);
  transition: transform 0.1s ease;
}

.tweet_actions_icons:hover{
  transform:scale(1.2);
}

.reply{
  display: none;
}
.displayreply .reply{
  display: block;
}

.displayreply .replyTextArea{
  width: 97%;
  resize: none;
  font-size: 1.2em;
}

.displayreply .replyButton{
  background: #38A1F3;
  color: white;
  border-radius: 25px;
  height: 30px;
  width: 70px;
  padding: 5px;
  position: absolute; 
  right: 0;
  bottom: 0;
}

#fetch_tweets{
  width: 50px;
  padding: 5px 0 0 5px;
  transform:scale(1);
  transition: transform 0.1s ease;
  outline:none;
}

#fetch_tweets:hover{
  transform: scale(1.2)
}

#taxis{
  padding-left: 50px;
}

.displayTaxis{
  width: 420px;
  padding: 0 80px 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 1px black;
  height: 30vh;
}

.displayTaxis .delete{
  outline:none;
  width: 50px;
}

.displayTaxis .add{
  outline:none;
  width: 50px;
}

.taxisTable{
  font-family: arial, sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: -50px;
  width: 500px;
}

.taxisTable td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
  padding-right: 11px;
}

.table_id{
  width: 7%;
}

.table_reg{
   width: 22%;
}

.table_contact{
  width: 22%;
}

.table_type{
  width: 11%;
}

.table_city{
   width:23%;
}

.table_actions{
   width: 15%;
}

.header_taxi_table{
  border: solid black 1px;
  border-bottom: none;
}


.taxisTable tr:nth-child(even) {
  background-color: #dddddd;
}


#fetch_tweets_header{
  display: flex;
  flex-direction: row;
}
