.navbar-fixed-top{
  position: absolute;
  display: flex;
  flex-direction: row;
  white-space: nowrap; 
  font-size:14px;
  height:70px;
  background-color:rgba(0, 0, 0, 0.315) !important;
}
/* can be deleted */
.navbar-fixed-top.scrolled{
  height:70px;
  background-color:rgba(32, 18, 228, 0.726) !important;
}
.nav-column {
  white-space: nowrap; 
  width: 25%;
  padding: 0 5px;
}
.nav-column2 {
  width: 50%;
}
.nav-cont{
  color:rgba(85, 83, 83, 0.788);
  text-align:center;
}
.nav-cont::after{
  content: "";
  clear: both;
  display: table;
  text-align:center;
}
a.nav-buttons{
  text-decoration:none;
  font-size:13px;
}
a.nav-buttons:hover{
  color:black;
}

/* Left Column*/
img.nav-logo{
  margin-top:-26px;
  width:43px;
}
.nav-name{
  display: inline-block;
}
.nav-logo{
  padding-top:5px;
}

.nav-name:hover{
  color:#5f5a50;
}

div.nav-name{
  padding:2.5%;
  padding-top:1.5%;
  color:#5f5a50;
  font-size: 38px;
  font-style: normal;
  white-space: nowrap;
  font-family: Verdana,Arial,sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  line-height: 1.4;
}



/* Center Column */
.nav-inline{
  margin-top:1.7%;
}
a.nav-buttons, .nav-signin, .nav-vl, .nav-login{
  line-height:2;
  text-align: left;
  font-weight:100;
  letter-spacing: 3px;
  display: inline-block;
  padding:10px;
  color:white;
  text-transform: uppercase;

}
.nav-center{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-inline{
  display: inline-block;

}


/* Right column */
.nav-inline2{
  margin-top:5px;
}
.nav-signin, .nav-vl, .nav-login{
  float: right;
  margin-right: 90px;
  margin-top:20px;
  padding: 2px 10px 2px 10px;
  background-color:white;
}
a .nav-respIcon{
  font-size: 25px;
  padding:30% 30px 0 0;
  display: none;
}




/* Responsive  */
@media only screen and (max-width: 1180px) {
  .nav-column2 {
    width: 80%;
  }
  img.nav-logo{
    transition-duration: 1s;
    width:70px;
    padding-left: 30px;
    margin-top:-20px;
  }
  div.nav-name{
    font-size: 33px;
    padding-top: 10px;
  }
  .nav-signin, .nav-vl, .nav-login{
    margin-right: 60px;
  }
  a.nav-buttons{
    padding-top:12px;
  }
}
@media only screen and (max-width: 985px) {

  img.nav-logo{
    width: 45px;
    padding-left: 15px;
    margin-top: -15px;
  }
  div.nav-name{
    font-size: 29px;
    padding-top: 14px;
  }
  a.nav-buttons{
    padding-top:11px;
  }
}
@media only screen and (max-width: 940px) {
  .nav-column2 {
    width: 80%;
  }

  div.nav-name{
    transition-duration: 1s;
    font-size: 28px;
    padding-top: 14px;
    letter-spacing:0.3em;
  }
  .nav-signin, .nav-vl, .nav-login{
    margin-right: 50px;
    margin-top:22px;
  }
  .nav-center{
    margin-top:5px;
  }
  .navbar-fixed-top{
    transition-duration: 1s;
    font-size: 13px;
  }
}
@media only screen and (max-width: 860px) {
  .nav-column2 {
    transition-duration: 1s;
    display: none;
  }
  a .nav-respIcon{
    
    display: block;
  }
  .nav-cont{
    float:left;
  }
  .nav-column{
    width:44%;
  }
  .nav-signin{
    margin-left: 5px
    }
    .nav-logo{
      margin-left: 20px;
      padding-top:0;
    }
}
@media only screen and (max-width: 550px) {
  .nav-column{
    width:30%;
  }
  div.nav-name{
    display: none;
  }
  .nav-signin{
    transition-duration: 1s;
    margin: 22px 20px 0 25px;
  }
  img.nav-logo{
    transition-duration: 1s;
    width: 55px;
    margin-left: 5px;
    margin-top: 18px;
  }
  .nav-Icon{
    padding-left: 15%
  }
  a.nav-buttons{
    font-size:11px;
  }
  a.nav-Icon{
    padding-left: 30%;
  }
}
@media only screen and (max-width: 380px) {
  .nav-cont{
    float:left;
  }
  .nav-signin{
    transition-duration: 1s;
    margin: 18px 20px 0 20px;
    font-size: 12px;
  }
  img.nav-logo{
    transition-duration: 1s;
    width: 48px;
    padding-left: 15px;
    margin-top: 15px;
  }
  a.nav-buttons{
    font-size:10px;
    line-height:1;
  }
  div.nav-respIcon{
    padding-top:10px;
  }
  .navbar-fixed-top{
    height:60px;
  }
}
/* Hamburger Header */
@media only screen and (max-width: 985px) {
  .nav-column2.responsive {
    position: absolute;
    float: none;
    display: block;
    background-color:rgba(0, 0, 0, 0.425);
    margin-top:70px;
    width:100%;
    padding-left:45%;
  }  
  .nav-column2.responsive .nav-cont .nav-center .nav-inline{
    display: block;
  }
}
@media only screen and (max-width:550px){
  .nav-column2.responsive {
    padding-left: 40%;
  }
}
@media only screen and (max-width:380px){
  .nav-column2.responsive {
    padding-left: 38%;
  }
}


