html {
  height: 100%;
  overflow:hidden;
}
body {
  height:100%;
  margin:0;
  padding:0;
  perspective:1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}
header.stick{
  top: 0;
  position:sticky;
  display:block;
}
#bg{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
}

/*Welcoming/Sign up design*/

.welcome-row:after {
  content: "";
  display: table;
  clear: both;
  height: 100vh;
}
#welcoming-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  .welcome-column1 {
    width: 100%;
  }
}
#fade-in{
  white-space: nowrap;
  font-family: gotham,"Helvetica Neue",sans-serif;
  font-weight: 100;
  letter-spacing: 0.2em;
  line-height: 1.4;
  float:left;
}
.center{
  text-align:left;
  white-space: normal;
  width: 90vw;
  color:#FFFFFF;
}
.head-box1{
  font-size:60px;
}
.head-box2{
  font-size:40px;
}
.head-box3{
  font-size:35px;
}
.twitter{
  color: rgb(92, 192, 255);
}

.twitter:hover{
  transition: 0.5s ease;
  color: rgb(42, 173, 255);
  cursor: pointer;
  font-size: 50px;
}


/*Content*/
.container{
  height:150px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 50px;
}

/*Information1: about us*/
.info1-container{
  height: 130%;
  padding:6% 0 6% 0;
}
.info1-title{
  font-size: 350%;
}
.info1-vl {
  margin:5% 80% 0 0;
  border-top: 3px solid rgb(175, 175, 173);
  position: relative;
}
.info1-box{
  margin:12% 20% 20% 27%;
}
.info1-content{
  margin-top: 12%;
  font-size: 150%;
  color:rgb(175, 175, 173);
  width:135%;

}

.break1{
  background-color: white;
}
.separation{
  border-top: 1px solid rgb(175, 175, 173);
  margin:0 40% 0 40%;
  position: relative;
  padding-bottom: 10%;
}




/*Inforamtion2 : how to use our service*/
.info2-container{
  height: 10%;
  padding-bottom:5%;
}
.info2-column{
  float: left;
  width: 50%;
  padding:0;
}
.info2-box{
  padding: 35% 0 0 15%;
}
.info2-title{
  font-size:300%;
  text-align: center;
  margin: auto;
}
.info2-content{
  margin: auto 5%;
  text-align: justify;
}
.info2-content ol {
  line-height:2;
  padding-left:5%;
}
.info2-img{
  background-size: cover;
  width:100%; 
  padding-right:3%;
}




/*Information3: How it works*/
.info3-container{
  height: 10%;
  padding-bottom:5%;
}
.info3-column{
  float: left;
  width: 60%;
  padding:0;
}
.info3-column2{
  width:40%;
}

.info3-title{
  font-size:300%;
  text-align: center;
  margin: 5% auto 0;
}
.info3-content{
  text-align: justify;
  margin: auto 10%;
}
.info3-img{
  background-size: cover;
  width:100%; 
  padding-left:3%;
}

/* Creating two colummns*/
.bd-column1 {
  float: left;
  width: 35%;
  padding: 10px;
}
.bd-column2 {
  float: left;
  width: 40%;
  padding: 10px;
}
.bd-row1:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .bd-column1 {
    width: 100%;
  }
}


/*Information4: Types of Taxi*/
.info4-container{
  height: 10%;
  padding-bottom:10%;
}
.info4-column{
  float: left;
  width: 50%;
  padding:0;
}
.info4-box{
  padding: 0 0 0 15%;
  height:200%;
  border-right: 1px solid rgb(175, 175, 173);
  text-align: right;
}
.info4-title{
  padding:0 0 10% 0;
  font-size:300%;
  margin-right: 5%;
}
.info4-content1{
  font-size:20px;
  margin-right: 5%;
  line-height: 2;
}
.info4-content2 {
  font-size:15px;
  margin: 0 5% 0 25%;
  line-height: 2;
  padding-bottom:50%;
}
.info4-img{
  background-size: cover;
  width:15%; 
  margin: 30% 0 0 5%;
  transition: transform 1s;
}
.info4-img:hover{
    -ms-transform: scale(5); /* IE 9 */
    -webkit-transform: scale(5); /* Safari 3-8 */
    transform: scale(5); 
}
.slideshow-container {
  max-width: 3000px;
  /* position: relative; */
}
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.info4-indicators{
  text-align:center;
}
.info4-indict {
  cursor: pointer;
  height: 10px;
  margin:1%;
  padding:5% 3% 3% 3%;
  color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease; 
}
.active, .info4-indict:hover {
  color: #717171;
}




/*Information 5: Customer Reviews*/
.info5-container{
  height:750px;
}
.info5-title{
  padding:18% 0 3% 0;
  font-size:350%;
  text-align:center;
  font-family: "GT America","Helvetica Neue","Helvetica",sans-serif;
  font-size: 3rem;
  line-height: 1.7;
  font-weight: 200;
  margin:100px 0 0 0;
  color:white;
}
.info5-column {
  float: left;
  width: 33.3%;
  padding: 0 3%;
}
.info5-box {
  background-size: cover;
  height:330px;
}
.info5-cont{
  padding: 30px;
  color:white;
  height:330px;
  text-align:center;
}
.info5-cont::after, .info5-row::after {
  content: "";
  clear: both;
  display: table;
}
.info5-checked {
  color: orange;
}
p.info5-reviews, .info5-name, .info5-date{
  line-height:2;
  text-align: left;
  font-weight:100;
  letter-spacing: 3px;
  margin:0;
}
.info5-name{
  font-size: 17px;
  font-weight:200;
  text-transform: uppercase;
}
.info5-date{
  font-size:15px;
  margin-bottom:4%;
}



/*Information6 : Contact us and banner*/
.info6-container{
  height:100%;
  background-image:url("../img/background3.jpg");
  background-size: cover;
  padding:5%;
  padding-bottom:1%;
  padding-top: 3%;
}
.info6-title{
  padding: 15% 0 3% 0;
  font-family: "GT America","Helvetica Neue","Helvetica",sans-serif;
  font-size: 3rem;
  line-height: 1.7;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.info6-column {
  float: left;
  width: 30%;
  padding: 0 3%;
}
.info6-content1{
  padding:10px;
  font-size: 1 rem;
}
.info6-content2{
  padding:10px;
  font-size: 1 rem;
}
.info6-content3 p{
  margin-bottom:20px;
}
.info6-maincolumn{
  width: 75%;
}
.info6-box {
  background-size: cover;
  height:400px;
}

.info6-cont{
  padding: 30px;
  color:rgb(255, 255, 255);
  height:100%;
  width:100%;
  text-align:center;
}
.ourTwitter{
font-size:25px;
}
.info6-cont::after, .info5-row::after {
  content: "";
  clear: both;
  display: table;
}

p.info6-reviews, .info6-name, .info6-date{
  line-height:2;
  text-align: left;
  font-weight:100;
  letter-spacing: 3px;
  margin:0;
}
.info6-name{
  font-size: 17px;
  font-weight:200;
  text-transform: uppercase;
}
.info6-date{
  font-size:15px;
  margin-bottom:4%;
}
a.ft-tw-link{
  background-color: white;
  padding: 4px 11px 3px 11px;
  font-weight: 400;
  color:rgb(59, 160, 219);
}
a.ft-tw-link:hover, .ft-tw-link:hover *{
  transition: 0.5s ease;
  background-color:#3483c4a1;
  color:white;
  text-decoration: none;
  }









/*fade in animation*/
#fade-in {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
p.info6-reviews, .info6-name, .info6-date{
  line-height:2;
  text-align: left;
  font-weight:100;
  letter-spacing: 3px;
  margin:0;
}
.info6-name{
  font-size: 17px;
  font-weight:200;
  text-transform: uppercase;
}
.info6-date{
  font-size:15px;
  margin-bottom:4%;
}









/*fade in animation*/
#fade-in {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}




