#page-content-wrapper{
  width: 100vw;
}

#add_wrapper{
  display: flex;
  flex-direction: row;
}

table {
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.textareaAlign * {
  vertical-align: top;
}
