
#ordersBG{
    background-image: url(../img/userorderBG.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.separation{
    height:30px;
}
.deals-cont{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.151);
    padding-left:30px;
    padding-right:30px;
    background-repeat: no-repeat;
    background-size: cover; 
}
.deals-display{
    height:300px;
    text-align:center;
    text-transform: uppercase;
    font-size: 30px;
    color:white;
    padding-top: 55px;
}
.container{
    width: 75%;
    background-color: #ffffff;
    padding-left:40px;
    padding-right:40px;
}
.container2{
    width: 55%;
    background-color: #ffffff;
    padding-left:40px;
    padding-right:40px;
    margin-left:12.5%;
}
.ordertable-row:before{
    content: "";
    display: table;
    clear: both;
}
.ordertable-column{
    float:left;
    width: 50%;
}
/* .ordertable-column2{
    float:left;
    width: 55%;
} */
.ordertable-column3{
    width: 50%;
}
.inline{
    display:inline-block;
}
/* Welcoming sign */
.user-greeting{
    font-size: 50px;
    padding-top:8%;
    padding-bottom:5%;
    text-align:center;
}

/* table title and table types */
/* .table-title{
    padding-top:10%;
    padding-bottom:2%;
} */
.title-button {
    background-color: #f8f0e5;
    border: none;
    color: rgb(43, 30, 20);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    padding: 3px 7px 3px 7px;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
  }
.tableTopPad{
    padding-top:25px;
}

  /* Search bar */
  #myInput{
    width: 25%;
}
.search-container{
    height:50px;
}

/* Border */
.orderborder-top{
    border-radius: 5px 5px 0 0;
}
.orderborder-bottom{
    border-radius: 0 0 5px 5px;
}


/* Sorting dropdown list */

.dropbtn {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    padding: 5% 0 0 0;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    width: 40px;
    text-align: right;
}

.dropbtn:hover, .dropbtn:focus {
    color:rgb(68, 68, 68);
}
.tablecenter{
    text-align: center;
    padding-left:15px;
}
.sortDropdown {
    position: relative;
    display: inline-block;
    text-align: right;
    float: right;
    height: 70px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sortDropdown a:hover {background-color: #ddd;}

.show {display: block;}

#sortButtonText::before{
    content: "All";
}




/* Ride indicators */
.ride-types{
    border-bottom:5px solid rgb(117, 117, 117);
    padding-bottom: 10px;
} 
.rideTyIndc{
    width:10%;
    border: none;
    color:rgb(136, 136, 136);
    background-color:white;
    font-style: underline;
}
.rideTyIndc:hover{
    color:rgb(66, 66, 66);
}




/* Ride History Style 1: Table View */
.userTable1{
    background-color:#f2f2f2;
    margin-bottom:0;
    border-bottom:none;

}
.userTable2{
    background-color:#ffffff;
    margin-top:0;
    border-top:none
}
.userTable2-lastrow{
    padding-top:10px;
}
.firstCol{
    padding-left:30px;
}
.field1-regNum::before{
    content:"#";
    padding-left:30px;
}
.field2-rate::before{
    content:"";
    float:right;
}
.field3-date::before{
    content:"ON";
    padding-left:30px;
    font-size:12px;
}
.field4-time::before{
    content:"AT";
    padding-left:5px;
    font-size:12px;
}
.field5-startLoc::before{
    content:"START";
    padding-left:20px;
    font-size:12px;
}
.field6-endLoc::before{
    content:"END";
    font-size:12px;
}
.field7-taxi-type::before{
    content:"TAXI TYPE";
    font-size:12px;
}
.field8-free::before{
    padding-bottom:0;
}
.field9-cancelled::before{
    padding-bottom:0;
}
.style1-regNum{
    font-size: 30px;
}
#ratings{
    cursor:pointer;
    float:right;
    margin-right:20px;
}
#rate1, #rate2, #rate3, #rate4, #rate5 {
    color: #333333;
}
.col-width{
    width:23%;
}
.col-width2{
    width:15%;
}
.col-date, .col-time, .taxi-type{
    padding-top:0;
}
.col-free, .col-reg-num, .col-date, .col-time, .col-cancelled{
    padding-bottom:0;
}

a.convo-link{
    color:#0189c9;
    float:right
}
td.col-date, td.col-time{
    padding-bottom:0;
    font-size: 11px;
}
.col-reg-num{
    padding-top:3%;
}
.field8-icon{
    margin-left:30px;
    height:15px;
    width:15px;
}
.tableCell{
    width:100%;
}
#startLoc, #endLoc, #taxiType{
    font-size:18px;
    font-weight:600;
}
.order-comment{
    margin-left:30px;
    width:550px;
    position: absolute;    
}



/* Ride History Style 2: Database VIew */
#view1{
    display:inital;
}
#view2{
    display:none;
}
.tableStyle2-head{
    background-color: rgb(194, 194, 194);
}
table{
    margin-top:3%;
    border: 0.5px solid rgb(206, 204, 204);
    margin-bottom:100px;
}
th {
    cursor: pointer;
}
th, td {
    text-align: left;
    /* padding:15px 35px 15px 35px; */
    /* border:10px solid yellow; */
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.userDatabase tbody{
    display:block;
    overflow: auto;
    height: 300px;
}
.userDatabase thead{
    display: block;
}

.userDatabase thead tr th, .userDatabase tbody tr td{
    width:10%;
    text-align:left;
}
.databaseCell{
    padding:10px;
}

/* Lookup Search bar */
/* Lookup list */
#searchList{
    width: 140px;
    padding-top: 5px;
    padding-bottom: 4px;
}
.separation2{
    padding:10px;
}
/* Input search */
#search_bar{    
}
#selectDisplay{
    display: inline;
}
#allDisplay{
    display:none;
}
#refNoDisplay{
    display:none;
}
#dateDisplay{
    display:none;
}
#sLocDisplay{
    display:none;
}
#eLocDisplay{
    display:none;
}
#canlDisplay{
    display:none;
}
#freeDisplay{
    display:none;
}
#rateDisplay{
    display:none;
}
.submitB{
    visibility: hidden;
}
input{
    width:70%;
    height:30px;
}
.sumbitB{
    width : 65px;
    background-color:whitesmoke;
    float: right;
    margin-top: 1px;
}

/* delete account */

button {
    background-color: #0189c9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .delAccContainer {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  