/* Body */
#bodyBackground{
    /* background-image: url(../img/userorderBG.jpg); */
    background-repeat: no-repeat;
    background-size: cover; 
}

/* Section1: Summary */
.rideSummary{
    background-image: url(../img/summary.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height:680px;
    color:white;
}
.summaryContainer{
    width: 80%;
    background-color: rgba(247, 247, 247, 0);
    padding-left:20%
}
.summaryRow:after {
    content: "";
    display: table;
    clear: both;
}
.greetingColumn{
    float:left;
    width: 65%;
    height:50px;
    margin-top: 20px;
}
.greetingContent{
    font-size:18px;
    padding-top:15px;
    height:100%;
}
.dateColumn{
    float:left;
    width: 35%;
    height:50px;
    padding-left:20px;
    margin-top:20px;
}
.dateContent{
    padding-top:15px;
    float:right;
}
.separation1{
    height:30px;
    content:"";
    border-top: 1px solid rgb(255, 255, 255);
    width:100%;
    padding:15px;
}
.summaryTitle{
    height:85px;
    font-size:45px;
    text-align:center;
    text-transform: uppercase;
}
.ridesTypeSummary {
    float: left;
    width: 33%;
    padding:0px 20px 0 0;
    height: 200px;
}
.rideTypeContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(255, 255, 255);
    padding: 16px;
    text-align: center;
    background-color: rgba(236, 236, 236, 0);
    color: white;
    height: 100%;
}
.dealsContainer{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    margin-top:30px;
}
.remainingRides{
    width: 90%; 
    background-color: rgba(79, 183, 231, 0.26);
    text-align: right;
    padding: 10px;
    color: rgb(255, 255, 255);
    float:left;
}
.iconBox{
    float:right;
}
.taxiIcon{
    font-size:35px;
    color: rgb(255, 255, 255);
    float:right;
    padding:5px;
    display:relative;
    padding-top:4px;
}
.taxiIcon:hover{
    color: rgb(255, 232, 118);
}

/* Section2: Types of Views Buttons */
.searchBarRow:before{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 75%;
    background-color: #ffffff;
    padding-left:40px;
    padding-right:40px;
}
.tableTypeBox{
    float:left;
    width: 50%;
    padding-top:25px;
}
.tableTypeTitle{
    font-size:15px;
    display: inline;
}
.inline{
    display:inline-block;
}
.tableTypeButton{
    background-color: #f8f0e5;
    border: none;
    color: rgb(43, 30, 20);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    padding: 3px 7px 3px 7px;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
    display:inline;
}

/* Section3: Fitable Search Bar */
.searchBarContainer{
    border-radius: 5px 5px 0 0;
    height:50px;
}
#filterList{
    width: 140px;
    padding-top: 5px;
    padding-bottom: 4px;
    width: 200px;
}

/* Section4: Types of Rides Button */
.rideTypesContainer{
    border-bottom:5px solid rgb(117, 117, 117);
    padding-bottom: 10px;
} 
.rideTypeButton{
    width:10%;
    border: none;
    color:rgb(136, 136, 136);
    background-color:white;
    font-style: underline;
}
.rideTypeButton:hover{
    color:rgb(66, 66, 66);
}

/* Section5: Order History */
/* View1:Table version */
table{
    margin-top:5%;
    border: 0.5px solid rgb(206, 204, 204);
}
#view1{
    display:block;
}
.tableContainer{
    background-color:#f2f2f2;
    margin-bottom:0;
    border-bottom:none;
}
.tableField1{
    padding-top:3%;
}
.regNumRow{
    font-size:30px;
    padding-top:30px;
}
.tableRegNum::before{
    content:"#";
    padding-left:30px;
    font-size:25px;
}
.tableRate::before{
    content:"";
    float:right;
}
.tableBox{
    background-color:#ffffff;
    margin-top:0;
    border-top:none;
}
.tableColumn, .tableStartLoc{
    padding-left:30px;
}
.tableEndLoc, .tableStartLoc{
    font-size:12px;
    padding-top:50px;
    text-transform: uppercase
}
.cellStartLoc, .cellEndLoc{
    font-size:20px;
    font-weight:bold;
}
.cellDate{
    text-transform: uppercase;
    font-size:14px;
    padding-bottom:10px;
}
.writeReview, .reviewSumbit{
    margin-left:12.5%;
    height:70px;
    border-top:none;
    border: 0.5px solid rgb(199, 199, 199);
}
.reviewSumbit{
    border-top:none;
    height:30px;
    background-color: rgb(245, 245, 245);
    color: rgb(88, 86, 86);
}
.reviewSumbit:hover{
    background-color:rgb(207, 207, 207);
}
.chatLink{
    margin-top:50px; 
    margin-right:20px; 
    float:right;
    margin-bottom:10px;
}
.checkBox{
    font-size:15px
}
.cellFree,.cellCancelled{
    margin-top: 50px; 
    display:inline;
    height:10px;
}


/* View2: Database Version */
#view2{
    display:none;
}
.databaseHeader{
    background-color: rgb(194, 194, 194);
}
.databaseCell{
    padding:10px;
}










  /* Search bar */
  #myInput{
    width: 25%;
}


.orderborder-bottom{
    border-radius: 0 0 5px 5px;
}


/* Sorting dropdown list */


.tablecenter{
    text-align: center;
    padding-left:15px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sortDropdown a:hover {background-color: #ddd;}

.show {display: block;}






/* Ride indicators */





/* Ride History Style 1: Table View */


.tableBox-lastrow{
    padding-top:10px;
}



.field3-date::before{
    content:"ON";
    padding-left:30px;
    font-size:12px;
}
.field4-time::before{
    content:"AT";
    padding-left:5px;
    font-size:12px;
}

.field8-free::before{
    padding-bottom:0;
}
.field9-cancelled::before{
    padding-bottom:0;
}

#ratings{
    cursor:pointer;
    float:right;
    margin-right:20px;
}
#rate1, #rate2, #rate3, #rate4, #rate5 {
    color: #333333;
}
.col-width{
    width:23%;
}
.col-width2{
    width:15%;
}
.col-date, .col-time, .taxi-type{
    padding-top:0;
}
.col-free, .col-reg-num, .col-date, .col-time, .col-cancelled{
    padding-bottom:0;
}

a.convo-link{
    color:#0189c9;
    float:right
}
td.col-date, td.col-time{
    padding-bottom:0;
    font-size: 11px;
}

.field8-icon{
    margin-left:30px;
    height:15px;
    width:15px;
}
.tableCell{
    width:100%;
}
#startLoc, #endLoc, #taxiType{
    font-size:18px;
    font-weight:600;
}




/* Ride History Style 2: Database VIew */


th {
    cursor: pointer;
}
th, td {
    text-align: left;
    /* padding:15px 35px 15px 35px; */
    /* border:10px solid yellow; */
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.userDatabase tbody{
    display:block;
    overflow: auto;
    height: 300px;
}
.userDatabase thead{
    display: block;
}

.userDatabase thead tr th, .userDatabase tbody tr td{
    width:10%;
    text-align:left;
}
.databaseCell{
    padding:10px;
}

/* Lookup Search bar */
/* Lookup list */

/* Input search */
#search_bar{    
}
#selectDisplay{
    display: inline;
}
#allDisplay{
    display:none;
}
#refNoDisplay{
    display:none;
}
#dateDisplay{
    display:none;
}
#sLocDisplay{
    display:none;
}
#eLocDisplay{
    display:none;
}
#canlDisplay{
    display:none;
}
#freeDisplay{
    display:none;
}
#rateDisplay{
    display:none;
}
.submitB{
    visibility: hidden;
}
input{
    width:70%;
    height:30px;
}
.sumbitB{
    width : 65px;
    background-color:whitesmoke;
    float: right;
    margin-top: 1px;
}

/* delete account */

.deleteAccBut {
    background-color: #b8bdbe00;
    /* color: white; */
    border: none;
    cursor: pointer;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .delAccContainer {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  

  .info5-checked {
    color: orange;
  }