footer{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  letter-spacing: 2.5px;
  font-size: 11px;
  padding: 10px;
  background-color: #FFFFFF;
  }
  

/* Column maker*/
.footer-column {
  float: left;
  width: 33.33%;
  padding: 30px;
  height: 100px;
  text-align: center;
  }
.footer-row:after {
  content: "";
  display: table;
  clear: both;
  height:10px;
  }


/*Content* details*/
.column1, .column3{
  padding-top:40px;
}
.column1 p, .column2 p, .column3 p{
  text-align: center;
  padding:0;
}
.column2 p{
  font-weight: 300;
  font-size: 13px;
  line-height: 2;
}
.footer-tw{  
  padding:10px; 
}
.vl {
  margin:10px 30% 0 30%;
  border-top: 1px solid rgb(175, 175, 173);
  position: relative;
}
.footer_contact{
  height:25px;
  padding-top:5px;
}

/*Content links*/
a.tw-link{
  border: 1px solid #5f5a50;
  padding: 4px 11px 3px 11px;
  font-weight: 400;
}
a.tw-link:hover, .tw-link:hover *{
  transition: 0.5s ease;
  background-color:#5f5a50;
  color:white;
  text-decoration: none;
  }
a {
text-decoration: none;
color: #5f5a50;
}


/*Last Row*/
.footer-row2{
  height:100px;
  text-align: center;
  padding-top:30px; 
  margin-bottom:15px;
  }
img.row2-img{
  height:26px;
  padding-bottom:10px;
  }
.row2-cont{
  color:#a8a7a7;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 9px;
  text-transform: uppercase;
}
 
@media screen and (max-width: 600px) {
    .footer-column {
      width: 100%;
    }
  }
