footer{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
} 
* {
    box-sizing: border-box;
    font-family: 'BentonSans', sans-serif;    
    font-weight: 380;
    letter-spacing: 3px;
    font-size: 11px;
    color:#5f5a50;
  }
  
/* Column */
.footer-column {
  float: left;
  width: 33.33%;
  padding: 30px;
  height: 100px;
  text-align: center;
  background-color:#FFFFFF;
  }
.footer-row:after {
  content: "";
  display: table;
  clear: both;
  height:10px;
  }

/*Content*/
.column3{
  padding-top:40px;
}
.column2 p{
  font-weight: 500;
}
.footer-tw{  
  padding:4px; 
}
a.tw-link{
  border: 1px solid #5f5a50;
  padding: 4px 11px 3px 11px;
  font-weight: 300;
}
.vl {
  margin:10px 30% 0 30%;
  border-top: 1px solid rgb(175, 175, 173);
  position: relative;
}
a.tw-link:hover, .tw-link:hover *{
transition: 1s ease;
  background-color:#5f5a50;
  color:white;
  font-size:12px;
}
a {
  text-decoration: none;
}

/*Last Row*/
.footer-row2{
  height:100px;
  text-align: center;
  padding-top:30px; 
  margin-bottom:15px;
  }
img.row2-img{
  height:26px;
  padding-bottom:10px;
  }
.row2-cont{
  color:#a8a7a7;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 9px;
  text-transform: uppercase;
}
 
@media screen and (max-width: 600px) {
    .footer-column {
      width: 100%;
    }
  }
