<!DOCTYPE html>
<html>
<head>
  <title>Customer Contact Form</title>
</head>
<body>
<h1>Customer Contact Form</h1>
    
<form method="post" action = "" >
  Contact Form: <input type="text" name="contact" value="<%=h params[:complaint] %>"/>
  <input type="submit" name="submit" value="submit" />
</form>
    
</body>
</html>