<!DOCTYPE html>
<html>
    
<head>
    <link href="style/style.css" rel="stylesheet" type="text/css" />
    <TITLE>Testing referenced files</TITLE>
</head>
    
<body>
    <p><img src="images/phil.jpg" /></p>
</body>
    
</html>