<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <title>Sheffield Taxi – ALTA</title>
    <link rel="stylesheet" href="new.css">

</head>


<body class="is-frontpage">

    <header id="top" class="page-header clearfix" role="banner">
        <nav class="main-menu" role="navigation" id="main-menu"> 

          <div class="top-bar no-flicker" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            
            <a href="https://maaemo.dinesuperb.com/" class="booking-toggle" target="_blank" script="margin-right:100;">
                Log In
            </a>
            <!-- <a href="https://google.com/" class="booking-toggle" target="_blank">
                Hey In
            </a> -->

            <a href="#main-menu" class="menu-toggle show-menu">
                <span class="icon">
                    <span class="l1" style="top: 4px; transform: matrix(1, 0, 0, 1, 0, 0);"></span>
                    <span class="l2" style="top: 11px; opacity: 1;"></span>
                    <span class="l3" style="top: 18px; transform: matrix(1, 0, 0, 1, 0, 0);"></span>
                </span>
            </a>
          
          </div>
      
          <div class="main-menu-wrapper no-flicker" style="transform: matrix(1, 0, 0, 1, 0, 0);" tabindex="-1">
            <div class="list-aligner">
              <ul>
                <!-- <li class="home-link"><a href="https://maaemo.no/" tabindex="-1">Home</a></li> -->
                <li><a href="https://maaemo.no/about-maaemo" tabindex="-1">About</a></li>
                <li><a href="https://maaemo.no/press" tabindex="-1">Services</a></li>
                <li><a href="https://maaemo.no/faq" tabindex="-1">Sign in</a></li>
                <li><a href="https://maaemo.no/shop" tabindex="-1">Log in</a></li>
             </ul>
            </div>
          </div>  

        </nav>
    </header>
        
    <main role="main" class="main-content" aria-live="assertive" aria-atomic="true" aria-relevant="all" style="transform: matrix(1, 0, 0, 1, 0, 0); width: 1400px;">
        
        <div class="inner">
            <div class="frontpage-head-wrapper" data-has-video="1" data-video-mp4="video1.mp4"></div>
            
            <div class="frontpage-blocks" style="padding-top: 788px;">
                <div class="block-wrapper clearfix">
                    <div class="row clearfix">

                        <div class="frontpage-ingress scroll-block" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">information1 xxxxx
                        </div>
                                                           
                        <article class="frontpage-list-article num-1">
                            <a href="https://maaemo.no/menu" class="block-link scroll-block history-enabled" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <div class="block-image-slideshow image-wrapper" data-images="">
                                    <img src="image2.jpeg" alt="taxi image 1">
                                        <span class="mouse-over"></span>
                                </div>
                                <h2 class="heading-small">information2 xxxxx</h2>

                            </a>
                        </article>
                                                     
                        <article class="frontpage-list-article num-2">
                            <a href="http://google.com/" class="block-link scroll-block" target="_blank" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <div class="block-image-slideshow image-wrapper" data-images="">
                                    <img src="image2.jpeg" alt="">
                                    <span class="mouse-over"></span>
                                </div>
                                <h2 class="heading-small">information3 xxxxx</h2>
                            </a>
                        </article>
            
                    </div>
                    
                    <div class="row no-padding clearfix">                            
                        <article class="frontpage-list-article num-3">
                            <a href="https://maaemo.no/shop/book" class="block-link scroll-block history-enabled" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <div class="block-image-slideshow image-wrapper" data-images="">
                                    <img src="image2.jpeg" alt="">
                                    <span class="mouse-over"></span>
                                </div>
                                <h2 class="heading-small">information4 xxxxx</h2>
                            </a>
                        </article>
                    </div>
                    
                    <div class="row clearfix">
                        <article class="frontpage-list-article num-4">
                            <a href="https://maaemo.no/about-maaemo" class="block-link scroll-block history-enabled" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <div class="block-image-slideshow image-wrapper" data-images="https://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_1200xAUTO_crop_center-center/Frontpage_03_1500px.jpg?mtime=20141112172549">
                                    <img src="image2.jpeg" alt="">
                                    <span class="mouse-over"></span>
                                <img class="additional" src="https://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_1200xAUTO_crop_center-center/Frontpage_03_1500px.jpg?mtime=20141112172549" style="display: inline; opacity: 1; z-index: 3;"></div>
                                <h2 class="heading-small">information 5 xxxx</h2>
                            </a>
                        </article>                           
                                                    
                        <article class="frontpage-list-article num-5">
                            <a href="https://maaemo.no/shop/book" class="block-link scroll-block history-enabled" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                <div class="block-image-slideshow image-wrapper" data-images="">
                                    <img src="image2.jpeg" alt="">
                                    <span class="mouse-over"></span>
                                </div>
                                <h2 class="heading-small">inforamtion6 xxxx</h2>
                            </a>
                        </article>
                    </div>

                </div>
            </div>
        </div>
          

        <!--footer-->

        <footer class="page-footer clearfix" role="contentinfo">  

            <address class="footer-address vcard">
                <p class="adr">
                    <span class="street-address">address</span>
                    <span class="postal-code">code</span> 
                    <span class="country-name">country</span>
                </p>

                <span class="tel"><a href="tel:+4722179969">telephone</a></span>
                <span class="email"><a href="mailto:booking@maaemo.no">email</a></span> 
            </address>
            
            <div class="links-wrapper">  
                <nav class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/MAAEMO" target="_blank">Facebook</a></li>
                        <li><a href="http://instagram.com/maaemo" target="_blank">Instagram</a></li>
                        <li><a href="https://twitter.com/maaemo" target="_blank">Twitter</a></li>
                    </ul>
                </nav>
                
                <nav class="additional-links">
                    <ul>
                        <li><a href="http://www.viamichelin.com/web/Restaurant/Oslo-0191-Maaemo-306832-41102" target="_blank">tab1</a></li>
                        <li><a href="https://www.theworlds50best.com/The-List-2018/31-40/Maaemo.html" target="_blank">tab2</a></li>
                    </ul>
                </nav>
            </div>
            
            <!--scroll to top icon-->
            <a class="to-top-button no-flicker" href="#top" style="transform: matrix(1, 0, 0, 1, 0, 400);">
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="27" viewBox="0 0 33 27">
                    <path d="M10 15.6l6.5-5.2 6.5 5.2v1l-6.5-5.1-6.5 5.1v-1z">   
                    </path>
                </svg>
            </a>

        </footer>

    </main>    
  
    <!--Heading on video-->
    <div class="parallax-bottom" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="inner">
            <div class="frontpage-head-block head-block" style="transform: matrix(1, 0, 0, 1, 0, 0); height: 326px;">
        
                <!--??mobile screen??-->
                <figure class="image-block" style="opacity: 0;">
                    <video id="frontpage-video" autoplay="" muted="" loop="" style=" height: auto; left: 0px; top: 0px; ">
                        <source src="video1.mp4" type="video/mp4">
                    </video>                                                                                                                                       
                </figure>
<!--width:100% get rid AND but stretched width is not 100%-->

                
                <div class="logo" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="314" height="47.5" viewBox="0 0 314 47.5">
                        <!-- <path fill="#FFF" d="M25.7 47.5c-.4 0-.8-.2-1-.6L2.3 6.8v39.5c0 .6-.5 1.2-1.2 1.2-.6 0-1.1-.5-1.1-1.2v-44c0-.5.4-1 .9-1.1.5-.1 1.1.1 1.3.6l23.5 42.1L49.2 1.8c.3-.5.8-.7 1.3-.6.5.1.9.6.9 1.1v44c0 .6-.5 1.2-1.2 1.2-.6 0-1.2-.5-1.2-1.2V6.8l-22.3 40c-.2.4-.6.7-1 .7zM181.6 45.1h-30.7v-6.4h25.9c.6 0 1.2-.5 1.2-1.2 0-.6-.5-1.2-1.2-1.2h-25.9V3.5h30.7c.6 0 1.2-.5 1.2-1.2 0-.6-.5-1.2-1.2-1.2h-31.8c-.6 0-1.2.5-1.2 1.2v44c0 .6.5 1.2 1.2 1.2h31.8c.6 0 1.2-.5 1.2-1.2-.1-.6-.6-1.2-1.2-1.2zM293.9 40.3c-11.1 0-20.1-9-20.1-20.1 0-11.1 9-20.1 20.1-20.1C305 0 314 9 314 20.1s-9 20.2-20.1 20.2zm0-38c-9.8 0-17.8 8-17.8 17.8s8 17.8 17.8 17.8 17.8-8 17.8-17.8-8-17.8-17.8-17.8zM309.8 47.5H278c-.6 0-1.2-.5-1.2-1.2 0-.6.5-1.2 1.2-1.2h31.8c.6 0 1.2.5 1.2 1.2s-.6 1.2-1.2 1.2zM227.8 47.5c-.4 0-.8-.2-1-.6l-22.3-40v39.5c0 .6-.5 1.2-1.2 1.2-.6 0-1.2-.5-1.2-1.2v-44c0-.5.4-1 .9-1.1.5-.1 1.1.1 1.3.6L227.8 44l23.5-42.1c.3-.5.8-.7 1.3-.6.5.1.9.6.9 1.1v44c0 .6-.5 1.2-1.2 1.2-.6 0-1.2-.5-1.2-1.2V6.8l-22.3 40c-.1.4-.5.7-1 .7zM132.5 45.7L108 1.8c-.2-.4-.6-.6-1-.6s-.8.2-1 .6l-6 10.8-6-10.8c-.2-.4-.6-.6-1-.6s-.8.2-1 .6l-24.5 44c-.3.6-.1 1.3.5 1.6.6.3 1.3.1 1.6-.5l4.5-8.2h11.4l-3.9 7c-.3.6-.1 1.3.5 1.6.2.1.4.1.6.1.4 0 .8-.2 1-.6l4.5-8.2H112l4.6 8.2c.2.4.6.6 1 .6.2 0 .4 0 .6-.1.6-.3.8-1 .5-1.6l-3.9-7h11.4l4.6 8.2c.3.6 1 .8 1.6.4.3-.3.5-1 .1-1.6zm-57.2-9.3L92.9 4.7l5.7 10.2-11.9 21.5H75.3zm14.1 0l10.6-19 10.6 19H89.4zm23.9 0l-12-21.4L107 4.7l17.7 31.6h-11.4z"> -->
                        <!-- </path> -->
                    </svg>
                </div>
                
                <div class="esben" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 0;">
                    <strong>Get to your Destination </strong>
                    <br>Sign in now with Twitter!
                </div>
                
                <div class="stars" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="104.3" height="28.44" viewBox="0 0 104.3 28.44">
                        <path d="M23.25,13.29a6.24,6.24,0,0,0,1.64-1.17,3.74,3.74,0,0,0,.95-1.57l.07-.25V8.76l0-.16a6.28,6.28,0,0,0-1.73-3,3.24,3.24,0,0,0-1.72-.87,3.67,3.67,0,0,0-1.61.1,6.27,6.27,0,0,0-1.73.81,12.52,12.52,0,0,0-2,1.64l-.13.14,0,0s0-.05,0-.08a14.8,14.8,0,0,0,.36-1.68,8.18,8.18,0,0,0,.06-2.24,4.12,4.12,0,0,0-.67-1.87A3.29,3.29,0,0,0,15,.29,5,5,0,0,0,13.75,0l-.12,0h-.78l-.43.05a4.8,4.8,0,0,0-1.86.56A3.55,3.55,0,0,0,8.89,2.72,5.23,5.23,0,0,0,8.66,4a8.33,8.33,0,0,0,.06,1.54,13.1,13.1,0,0,0,.34,1.74.14.14,0,0,1,0,.09L9,7.26A13.33,13.33,0,0,0,7.26,5.82a7,7,0,0,0-1.75-.93,4,4,0,0,0-1.42-.23,3.23,3.23,0,0,0-1.87.64,4.48,4.48,0,0,0-1,1.09,6.43,6.43,0,0,0-1,2.2,3.64,3.64,0,0,0,1.16,3.72A6.69,6.69,0,0,0,3,13.39a12.46,12.46,0,0,0,2.12.77l.11,0,0,0s-.08,0-.12.05a13.58,13.58,0,0,0-2,.7A7.25,7.25,0,0,0,1.4,16a4,4,0,0,0-1,1.29,3.18,3.18,0,0,0-.31,1,1.28,1.28,0,0,1,0,.17V19a1.06,1.06,0,0,1,0,.16,4.85,4.85,0,0,0,.6,1.78A6.32,6.32,0,0,0,2,22.69a3.64,3.64,0,0,0,1.84.9,3.84,3.84,0,0,0,1.74-.14,6.44,6.44,0,0,0,1.75-.86A11.74,11.74,0,0,0,9,21.23l.09-.09s0,.07,0,.1a13.22,13.22,0,0,0-.33,1.7,7,7,0,0,0,.09,2.52,3.7,3.7,0,0,0,1.18,2,3.9,3.9,0,0,0,1.68.83c.26.06.53.09.79.14l.08,0h1.37l.43-.08a3.63,3.63,0,0,0,2-1,3.53,3.53,0,0,0,.9-1.64,6.21,6.21,0,0,0,.17-1.91A12.67,12.67,0,0,0,17,21.28a.35.35,0,0,1,0-.15l.09.08a11.81,11.81,0,0,0,1.65,1.37,6.28,6.28,0,0,0,1.85.89,3.64,3.64,0,0,0,2.28-.06,3.7,3.7,0,0,0,1.27-.79,6.51,6.51,0,0,0,1.75-2.8l.06-.22V17.93l-.07-.22a3.75,3.75,0,0,0-1.12-1.62,6.89,6.89,0,0,0-1.65-1,13.27,13.27,0,0,0-2.15-.77l-.11,0,0,0,.15,0A12.09,12.09,0,0,0,23.25,13.29Zm-6.2.92c0,.2,0,.39,0,.6l.56.06a18.49,18.49,0,0,1,4.13.92,7.91,7.91,0,0,1,1.73.84,4.18,4.18,0,0,1,.71.58,2.19,2.19,0,0,1,.55,2.25,4.19,4.19,0,0,1-.35.86,5.21,5.21,0,0,1-1.12,1.48,2.48,2.48,0,0,1-1.2.6,2.64,2.64,0,0,1-1.26-.1,5.29,5.29,0,0,1-1.44-.73,11.53,11.53,0,0,1-1.89-1.67,18.79,18.79,0,0,1-1.79-2.25l0-.07-1,.59,0,.11a20.25,20.25,0,0,1,1.29,3.66,9.81,9.81,0,0,1,.31,2.33A4.61,4.61,0,0,1,16,25.5a2.2,2.2,0,0,1-1.74,1.64,5.27,5.27,0,0,1-1.57.09,4.46,4.46,0,0,1-1-.18A2.44,2.44,0,0,1,10,25.17a5.13,5.13,0,0,1-.11-1.48,13.31,13.31,0,0,1,.9-3.87c.2-.53.42-1.06.67-1.57l0-.07,0-.11a.48.48,0,0,0,0-.35.6.6,0,0,0-1-.24,1.23,1.23,0,0,0-.12.15A17.29,17.29,0,0,1,7.55,20.9,7.64,7.64,0,0,1,5.91,22a3.7,3.7,0,0,1-1.24.39A2.28,2.28,0,0,1,3.14,22a3.71,3.71,0,0,1-1-.95,5.24,5.24,0,0,1-.84-1.62,2.25,2.25,0,0,1,0-1.42,2.53,2.53,0,0,1,.7-1,5.43,5.43,0,0,1,1.33-.87,11.67,11.67,0,0,1,2.1-.76,18.78,18.78,0,0,1,2.38-.48L9,14.82H9c0-.19,0-.39,0-.59s0-.39,0-.59l-.13,0a18.39,18.39,0,0,1-4.1-.78,8.51,8.51,0,0,1-2-.93,4.23,4.23,0,0,1-.83-.68A2.38,2.38,0,0,1,1.31,9a5.14,5.14,0,0,1,1.2-2.32,2.31,2.31,0,0,1,1.09-.72A2.36,2.36,0,0,1,4.93,6a5.17,5.17,0,0,1,1.42.69,11.88,11.88,0,0,1,2,1.7,20.48,20.48,0,0,1,2.08,2.53.6.6,0,0,0,.87.17.59.59,0,0,0,.21-.66l-.08-.19v0A17.79,17.79,0,0,1,10.06,6.3a8.76,8.76,0,0,1-.22-2A4.46,4.46,0,0,1,10,3.1a2.41,2.41,0,0,1,1.66-1.67,4.36,4.36,0,0,1,1-.2,5.18,5.18,0,0,1,1.65.11A2.2,2.2,0,0,1,16.06,3,4.9,4.9,0,0,1,16.2,4.4,11,11,0,0,1,15.76,7a20.73,20.73,0,0,1-1.16,3.17l0,.12a4.19,4.19,0,0,1,1,.6l.09-.13a19.86,19.86,0,0,1,2.66-3.07,9.08,9.08,0,0,1,1.93-1.41A4.06,4.06,0,0,1,21.4,5.9a2.09,2.09,0,0,1,1.83.48,3.55,3.55,0,0,1,.48.5,5.21,5.21,0,0,1,1,2A2.39,2.39,0,0,1,24.24,11a3.56,3.56,0,0,1-.55.55,6.53,6.53,0,0,1-1.61.92,14,14,0,0,1-2.58.76,21.46,21.46,0,0,1-2.2.33l-.26,0,0,0C17,13.82,17,14,17,14.21Z" fill="#fff"></path>
                        <path d="M62.45,13.29a6.24,6.24,0,0,0,1.64-1.17A3.74,3.74,0,0,0,65,10.56l.07-.25V8.76l0-.16a6.28,6.28,0,0,0-1.73-3,3.24,3.24,0,0,0-1.72-.87A3.67,3.67,0,0,0,60,4.8a6.27,6.27,0,0,0-1.73.81,12.52,12.52,0,0,0-2,1.64l-.13.14,0,0s0-.05,0-.08a14.8,14.8,0,0,0,.36-1.68,8.18,8.18,0,0,0,.06-2.24,4.12,4.12,0,0,0-.67-1.87A3.29,3.29,0,0,0,54.24.29,5,5,0,0,0,52.95,0l-.12,0H52l-.43.05a4.8,4.8,0,0,0-1.86.56,3.55,3.55,0,0,0-1.67,2.11A5.23,5.23,0,0,0,47.86,4a8.33,8.33,0,0,0,.06,1.54,13.1,13.1,0,0,0,.34,1.74.14.14,0,0,1,0,.09l-.1-.09a13.33,13.33,0,0,0-1.69-1.44,7,7,0,0,0-1.75-.93,4,4,0,0,0-1.42-.23,3.23,3.23,0,0,0-1.87.64,4.48,4.48,0,0,0-1,1.09,6.43,6.43,0,0,0-1,2.2,3.64,3.64,0,0,0,1.16,3.72,6.69,6.69,0,0,0,1.66,1.09,12.46,12.46,0,0,0,2.12.77l.11,0,0,0s-.08,0-.12.05a13.58,13.58,0,0,0-2,.7,7.25,7.25,0,0,0-1.72,1,4,4,0,0,0-1,1.29,3.18,3.18,0,0,0-.31,1,1.28,1.28,0,0,1,0,.17V19a1.06,1.06,0,0,1,0,.16,4.85,4.85,0,0,0,.6,1.78,6.32,6.32,0,0,0,1.36,1.76,3.64,3.64,0,0,0,1.84.9,3.84,3.84,0,0,0,1.74-.14,6.44,6.44,0,0,0,1.75-.86,11.74,11.74,0,0,0,1.64-1.36l.09-.09s0,.07,0,.1a13.22,13.22,0,0,0-.33,1.7A7,7,0,0,0,48,25.46a3.7,3.7,0,0,0,1.18,2,3.9,3.9,0,0,0,1.68.83c.26.06.53.09.79.14l.08,0h1.37l.43-.08a3.63,3.63,0,0,0,2-1,3.53,3.53,0,0,0,.9-1.64,6.21,6.21,0,0,0,.17-1.91,12.67,12.67,0,0,0-.43-2.55.35.35,0,0,1,0-.15l.09.08a11.81,11.81,0,0,0,1.65,1.37,6.28,6.28,0,0,0,1.85.89A3.64,3.64,0,0,0,62,23.42a3.7,3.7,0,0,0,1.27-.79A6.51,6.51,0,0,0,65,19.83l.06-.22V17.93L65,17.71a3.75,3.75,0,0,0-1.12-1.62,6.89,6.89,0,0,0-1.65-1,13.27,13.27,0,0,0-2.15-.77l-.11,0,0,0,.15,0A12.09,12.09,0,0,0,62.45,13.29Zm-6.2.92c0,.2,0,.39,0,.6l.56.06a18.49,18.49,0,0,1,4.13.92,7.91,7.91,0,0,1,1.73.84,4.18,4.18,0,0,1,.71.58,2.19,2.19,0,0,1,.55,2.25,4.19,4.19,0,0,1-.35.86,5.21,5.21,0,0,1-1.12,1.48,2.48,2.48,0,0,1-1.2.6,2.64,2.64,0,0,1-1.26-.1,5.29,5.29,0,0,1-1.44-.73,11.53,11.53,0,0,1-1.89-1.67,18.79,18.79,0,0,1-1.79-2.25l0-.07-1,.59,0,.11a20.25,20.25,0,0,1,1.29,3.66,9.81,9.81,0,0,1,.31,2.33,4.61,4.61,0,0,1-.16,1.24,2.2,2.2,0,0,1-1.74,1.64,5.27,5.27,0,0,1-1.57.09,4.46,4.46,0,0,1-1-.18,2.44,2.44,0,0,1-1.77-1.9,5.13,5.13,0,0,1-.11-1.48,13.31,13.31,0,0,1,.9-3.87c.2-.53.42-1.06.67-1.57l0-.07,0-.11a.48.48,0,0,0,0-.35.6.6,0,0,0-1-.24,1.23,1.23,0,0,0-.12.15,17.29,17.29,0,0,1-2.84,3.27A7.64,7.64,0,0,1,45.11,22a3.7,3.7,0,0,1-1.24.39A2.28,2.28,0,0,1,42.34,22a3.71,3.71,0,0,1-1-.95,5.24,5.24,0,0,1-.84-1.62,2.25,2.25,0,0,1,0-1.42,2.53,2.53,0,0,1,.7-1,5.43,5.43,0,0,1,1.33-.87,11.67,11.67,0,0,1,2.1-.76A18.78,18.78,0,0,1,47,14.95l1.12-.13h.05c0-.19,0-.39,0-.59s0-.39,0-.59l-.13,0a18.39,18.39,0,0,1-4.1-.78,8.51,8.51,0,0,1-2-.93,4.23,4.23,0,0,1-.83-.68A2.38,2.38,0,0,1,40.51,9a5.14,5.14,0,0,1,1.2-2.32,2.31,2.31,0,0,1,1.09-.72,2.36,2.36,0,0,1,1.34,0,5.17,5.17,0,0,1,1.42.69,11.88,11.88,0,0,1,2,1.7,20.48,20.48,0,0,1,2.08,2.53.6.6,0,0,0,.87.17.59.59,0,0,0,.21-.66l-.08-.19v0A17.79,17.79,0,0,1,49.26,6.3a8.76,8.76,0,0,1-.22-2,4.46,4.46,0,0,1,.18-1.25,2.41,2.41,0,0,1,1.66-1.67,4.36,4.36,0,0,1,1-.2,5.18,5.18,0,0,1,1.65.11A2.2,2.2,0,0,1,55.26,3,4.9,4.9,0,0,1,55.4,4.4,11,11,0,0,1,55,7a20.73,20.73,0,0,1-1.16,3.17l0,.12a4.19,4.19,0,0,1,1,.6l.09-.13a19.86,19.86,0,0,1,2.66-3.07,9.08,9.08,0,0,1,1.93-1.41A4.06,4.06,0,0,1,60.6,5.9a2.09,2.09,0,0,1,1.83.48,3.55,3.55,0,0,1,.48.5,5.21,5.21,0,0,1,1,2A2.39,2.39,0,0,1,63.44,11a3.56,3.56,0,0,1-.55.55,6.53,6.53,0,0,1-1.61.92,14,14,0,0,1-2.58.76,21.46,21.46,0,0,1-2.2.33l-.26,0,0,0C56.23,13.82,56.25,14,56.25,14.21Z" fill="#fff"></path>
                        <path d="M101.65,13.29a6.24,6.24,0,0,0,1.64-1.17,3.74,3.74,0,0,0,.95-1.57l.07-.25V8.76l0-.16a6.28,6.28,0,0,0-1.73-3,3.24,3.24,0,0,0-1.72-.87,3.67,3.67,0,0,0-1.61.1,6.27,6.27,0,0,0-1.73.81,12.52,12.52,0,0,0-2,1.64l-.13.14,0,0s0-.05,0-.08a14.8,14.8,0,0,0,.36-1.68,8.18,8.18,0,0,0,.06-2.24,4.12,4.12,0,0,0-.67-1.87A3.29,3.29,0,0,0,93.44.29,5,5,0,0,0,92.15,0L92,0h-.78l-.43.05A4.8,4.8,0,0,0,89,.61a3.55,3.55,0,0,0-1.67,2.11A5.23,5.23,0,0,0,87.06,4a8.33,8.33,0,0,0,.06,1.54,13.1,13.1,0,0,0,.34,1.74.14.14,0,0,1,0,.09l-.1-.09a13.33,13.33,0,0,0-1.69-1.44,7,7,0,0,0-1.75-.93,4,4,0,0,0-1.42-.23,3.23,3.23,0,0,0-1.87.64,4.48,4.48,0,0,0-1,1.09,6.43,6.43,0,0,0-1,2.2,3.64,3.64,0,0,0,1.16,3.72,6.69,6.69,0,0,0,1.66,1.09,12.46,12.46,0,0,0,2.12.77l.11,0,0,0s-.08,0-.12.05a13.58,13.58,0,0,0-2,.7,7.25,7.25,0,0,0-1.72,1,4,4,0,0,0-1,1.29,3.18,3.18,0,0,0-.31,1,1.28,1.28,0,0,1,0,.17V19a1.06,1.06,0,0,1,0,.16,4.85,4.85,0,0,0,.6,1.78,6.32,6.32,0,0,0,1.36,1.76,3.64,3.64,0,0,0,1.84.9A3.84,3.84,0,0,0,84,23.45a6.44,6.44,0,0,0,1.75-.86,11.74,11.74,0,0,0,1.64-1.36l.09-.09s0,.07,0,.1a13.22,13.22,0,0,0-.33,1.7,7,7,0,0,0,.09,2.52,3.7,3.7,0,0,0,1.18,2,3.9,3.9,0,0,0,1.68.83c.26.06.53.09.79.14l.08,0h1.37l.43-.08a3.63,3.63,0,0,0,2-1,3.53,3.53,0,0,0,.9-1.64,6.21,6.21,0,0,0,.17-1.91,12.67,12.67,0,0,0-.43-2.55.35.35,0,0,1,0-.15l.09.08a11.81,11.81,0,0,0,1.65,1.37,6.28,6.28,0,0,0,1.85.89,3.64,3.64,0,0,0,2.28-.06,3.7,3.7,0,0,0,1.27-.79,6.51,6.51,0,0,0,1.75-2.8l.06-.22V17.93l-.07-.22a3.75,3.75,0,0,0-1.12-1.62,6.89,6.89,0,0,0-1.65-1,13.27,13.27,0,0,0-2.15-.77l-.11,0,0,0,.15,0A12.09,12.09,0,0,0,101.65,13.29Zm-6.2.92c0,.2,0,.39,0,.6l.56.06a18.49,18.49,0,0,1,4.13.92,7.91,7.91,0,0,1,1.73.84,4.18,4.18,0,0,1,.71.58,2.19,2.19,0,0,1,.55,2.25,4.19,4.19,0,0,1-.35.86,5.21,5.21,0,0,1-1.12,1.48,2.48,2.48,0,0,1-1.2.6,2.64,2.64,0,0,1-1.26-.1,5.29,5.29,0,0,1-1.44-.73,11.53,11.53,0,0,1-1.89-1.67A18.79,18.79,0,0,1,94,17.64l0-.07-1,.59,0,.11a20.25,20.25,0,0,1,1.29,3.66,9.81,9.81,0,0,1,.31,2.33,4.61,4.61,0,0,1-.16,1.24,2.2,2.2,0,0,1-1.74,1.64,5.27,5.27,0,0,1-1.57.09,4.46,4.46,0,0,1-1-.18,2.44,2.44,0,0,1-1.77-1.9,5.13,5.13,0,0,1-.11-1.48,13.31,13.31,0,0,1,.9-3.87c.2-.53.42-1.06.67-1.57l0-.07,0-.11a.48.48,0,0,0,0-.35.6.6,0,0,0-1-.24,1.23,1.23,0,0,0-.12.15,17.29,17.29,0,0,1-2.84,3.27A7.64,7.64,0,0,1,84.31,22a3.7,3.7,0,0,1-1.24.39A2.28,2.28,0,0,1,81.54,22a3.71,3.71,0,0,1-1-.95,5.24,5.24,0,0,1-.84-1.62,2.25,2.25,0,0,1,0-1.42,2.53,2.53,0,0,1,.7-1,5.43,5.43,0,0,1,1.33-.87,11.67,11.67,0,0,1,2.1-.76,18.78,18.78,0,0,1,2.38-.48l1.12-.13h.05c0-.19,0-.39,0-.59s0-.39,0-.59l-.13,0a18.39,18.39,0,0,1-4.1-.78,8.51,8.51,0,0,1-2-.93,4.23,4.23,0,0,1-.83-.68A2.38,2.38,0,0,1,79.71,9a5.14,5.14,0,0,1,1.2-2.32A2.31,2.31,0,0,1,82,5.94a2.36,2.36,0,0,1,1.34,0,5.17,5.17,0,0,1,1.42.69,11.88,11.88,0,0,1,2,1.7,20.48,20.48,0,0,1,2.08,2.53.6.6,0,0,0,.87.17.59.59,0,0,0,.21-.66l-.08-.19v0A17.79,17.79,0,0,1,88.46,6.3a8.76,8.76,0,0,1-.22-2,4.46,4.46,0,0,1,.18-1.25,2.41,2.41,0,0,1,1.66-1.67,4.36,4.36,0,0,1,1-.2,5.18,5.18,0,0,1,1.65.11A2.2,2.2,0,0,1,94.46,3,4.9,4.9,0,0,1,94.6,4.4,11,11,0,0,1,94.16,7,20.73,20.73,0,0,1,93,10.21l0,.12a4.19,4.19,0,0,1,1,.6l.09-.13a19.86,19.86,0,0,1,2.66-3.07,9.08,9.08,0,0,1,1.93-1.41A4.06,4.06,0,0,1,99.8,5.9a2.09,2.09,0,0,1,1.83.48,3.55,3.55,0,0,1,.48.5,5.21,5.21,0,0,1,1,2,2.39,2.39,0,0,1-.45,2.15,3.56,3.56,0,0,1-.55.55,6.53,6.53,0,0,1-1.61.92,14,14,0,0,1-2.58.76,21.46,21.46,0,0,1-2.2.33l-.26,0,0,0C95.42,13.82,95.44,14,95.44,14.21Z" fill="#fff"></path>
                    </svg>
                </div>
                
            </div>
        </div>
    </div>
    
    <script src="new1i.js"></script>
    <script src="new1j.js"></script>
    <div id="breakpointer" style="position: relative;"></div>
              
      
</body>

</html>